#registerCover{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

#form{
    width: 100%;
}

#infoDemo, #form{
    display: table-cell;
    vertical-align: top;
}

#form *{
    color:#2a2a2a;
}

#infoDemo{
white-space: nowrap;
}

#infoDemo > div {
    padding: 22px 23px;
    margin: 34px 50px;
    position: relative;
    border: solid 1px #454545;
}

#infoDemo > div:before {
    content: "";
    position: absolute;
    top:30px;
    left: 28px;
    width: 2px;
    height: 68px;
    background-color:#454545;
    z-index: 50;
    color: #454545;
}

#infoDemo > div h4 {
    padding: 5px;
    background-image: url(/css/images/Bell.png);
    background-repeat:no-repeat;
    background-position: 12% 50%;
    font-size: 20px;
    font-weight: 500;
    text-indent: 45px;
    padding: 6px;
}

#infoDemo > div p {
    font-size: 15px;
    font-weight: 300;
    text-indent: 15px;
    margin: 4px 9px;
    color: #828282;
}

#formCover > div {
    max-width:  942px;
    margin: 0 0 56px 0;
}


#formCover > div h3 {
    margin: 30px  0  15px  0 ;
}


#formCover > div span{
    display: inline-block;
    width: 350px;
    margin-right: 50px;
}

#formCover > div input[type=text],
#formCover > div input[type=password],
#formCover > div .inputtext{
    width: 100%;
}

.animPlaceholderUp > .validationInfo label{
display: block;
}


.animPlaceholderUp .validationInfo{
    display: none;
}

.animPlaceholderUp img {
    position: absolute;
    right: 0px;
    top: 12px;
}

#formCover .validationInfo ul li span{
    color: #ff454f;
}

#formCover .option {
    margin: 3px 0;
    display: block;
}

#formCover .option.marginTop {
    margin-top: 30px;
}

#formCover .option span{
    width: 100%;
    font-size: 14px;
    color: #828282;
}
.removeSpaces{
    width: 100%;
    margin:0;
}
#form input[type=button]{
    border:  solid 1px #2a2a2a;
    color:#2a2a2a;
    background-color: white;
    width: 330px;
    font-size: 16px;
    height: 47px;
    display: block;
    margin: 20px auto;
    transition: all .3s ease;
}

#form input[type=button]:hover{
    color:white;
    background-color: #2a2a2a;
}

.ALREADY_HAVE_AN_ACCOUNT{
    display: block;
    text-align: center;
}

.ALREADY_HAVE_AN_ACCOUNT a{
    font-size: 12px;
    color:#2a2a2a;
    cursor: pointer;
}

#form .valid{
    color: lime !important;
}

#form .center{
    display: block;
    text-align: center;
    padding: 20px;
}

#form .invalidInput{
    border-bottom: solid #ff454f 1px;
}

#form .buttonDisable, #form .buttonDisable:hover{
    color: #b2b2b2 !important;
    border: solid 2px #d1d1d1 !important;
    cursor: default;
    background-color: white !important;
}

#formCover .validate-directive {
    width:49%;
}

#formCover > div input[type=text], #formCover > div input[type=password], #formCover > div .inputtext
{
    width: 90% !important;
}


@media screen and (max-width: 1200px)
{
    #formCover > div span {
        width: 40%;
    }
}

@media screen and (max-width: 940px)
{

    #infoDemo, #form{
        display: block;
    }


    #infoDemo{
        margin: 0 auto;
        display: block;
    }

    #form{
        box-sizing: border-box;
        width: 100%;
        background-clip: content-box;
        padding: 25px 20px;

    }


    #infoDemo{
        width: 340px;
        margin: 10px auto;
    }

    #formCover{
        width: 100%;
    }
    #formCover > div span {
        display: inline-block;
        width: 43%;
        margin-right: 25px;
        margin-left: 25px;
    }

}


@media screen and (max-width: 780px)
{
    #form{
        width: 100%;
        display: block;
    }

    #formCover > div span {
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
    .animPlaceholderUp *{
        white-space: normal;
    }

}



