


#detailslink {
    width: 100%;
    text-align: center;
    font-size: 0;
}

#detailslink > label {
    font-size: 16px;
    padding: 15px;
    display: inline-block;
    width: 45%;
    border-top: #d0d0d0 1px solid;
    color: #828282;
    cursor: pointer;
}

#detailslink > label.selected {
    border-top: #54b3ad 3px solid;
    color: #2a2a2a;
}

/* SHIPPING DETAILS SECCION   */

#userSection * {

    font-family: 'Roboto';
    font-weight: 400;
}

#userSection > div{
    position: relative;
}
#userSection > div > a{
    color: #54b3ad;
    font-size: 13px;
    text-decoration: none;
}


#userSection > div > label{
    float: right;
    font-size: 11px;
    color:#2a2a2a;
    text-decoration: none;
    position: relative;
    top: -6px;
}

#userSection > div > label > img{
    position: relative;
    top:4px;
}



#userDetails{
    font-size: 0;
    margin: 58px 0 16px 0px;
    border:solid #454545 1px;
}

#userDetails > div{
    box-sizing: border-box;
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    min-height: 122px;
    padding: 30px 15px;
    position: relative;
}

#userDetails > div:nth-child(2){
    border-left:solid #454545 1px;
    border-right:solid #454545 1px;
}

#userDetails > div img {
    position: absolute;
    right: 0;
    top:0;
    padding: 15px;
}

#userDetails > div label {
    display: block;
    padding: 2px;
    font-size: 14px;
    color: #2a2a2a;
}

#userSection .nextBtn{
    width: 138px;
    position: absolute;
    right: 0;
    padding: 8px;
    margin-top: 75px;
    font-size: 12px;
}

/* END SHIPPING DETAILS SECCION   */



/* USER DETAILS SECCION   */

.Choose_payment {
    font-size: 16px;
    color: #2a2a2a;
}

.paymentMethods{
    border: solid 1px #454545;
}

.paymentMethods .imgRadioButton{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.paymentMethods .imgRadioButton > img{
    display: block;
    padding: 15px;
    padding-left: 50px;
}

.paymentMethods .imgRadioButton:before {
    content: "";
    position: absolute;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: solid 1px #828282;
    top:23px;
    left:21px;

}

/* END USER DETAILS SECCION   */


