
.configuration-table-style{
    width:95% ;
}
.configuration-headlines{
    display:inline-flex;
    list-style: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;
}

.configuration-headlines li{
    margin: 0 40px;
    height: 16px;
    width: 90px;
    color: #6C6C6C;
    font-family: Metric, sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}
.config-line-separator{

    box-sizing: border-box;
    height: 2px;
    width: 90%;
    border: 1px solid #A7A7A7;
    opacity: 0.41;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
.focus-line {
    position: relative;
    height: 4px;
    width: 90px;
    background-color: #53ADC3;
    bottom: -11px;
}
.configuration-icons{
    display: flex;
    list-style: none;
    float: right;
    position: relative;
    top:15px;
    right: 30px;
}

.configuration-icons li{
    margin: 0 4px;
}
.configuration-table-style td{
    max-width: 880px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333333;
    font-family: Metric, sans-serif;
    font-size: 17px;
    line-height: 24px;
}
.configuration-table-style th:first-child{
     padding-left: 30px;
}
.configuration-table-style td:first-child{
    padding-left: 50px;
}
.configuration-table-style td:nth-child(2){
    padding-right: 50px;
}
.configuration-table-style td:nth-child(3){
    padding-right: 50px;
}
.table-row-style {
    height: 33px;
    opacity: 0.7;
    border-left: 30px solid;
    border-color: white;
    background-color: #E4EFF3;
    box-shadow: 10px 0 14px 0 rgba(0,0,0,0.09);
}
.configuration-input-style{
    width: 55px;
    padding-top: 4px;

}
.config-input{
    border: 1px solid #B7B7B7;
}
.data-rows-style{
    border-bottom: 1px solid #B7B7B7;
}
