

#grid-container-main{
    display: grid;
    display:-ms-grid;
    -ms-grid-rows: 10% 1fr;
    grid-template-rows: 10% 1fr;
    -ms-grid-columns: 20% 1fr;
    grid-template-columns: 20% 1fr;
    width: 100%;
    height: 100%;
}
#grid-container-main > header {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    grid-column: 2;
    grid-row: 1;
    position: fixed;
    background-color: #FFFFFF;
    width: 80%;
    left: 20%;
}
#grid-container-main > nav {
    -ms-grid-column: 1;
    grid-column: 1;
    grid-row: 1/4;
    position: fixed;
    height: 100%;
    width: 20%;

}
#grid-container-main > main {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    grid-column: 2;
    grid-row: 2;
    background-color: #FFFFFF;
    display: grid;
    display:-ms-grid;
    grid-template-rows: 200px 1fr;
    -ms-grid-rows: 200px 1fr;
}
.configurationHeader{

    background-image: url('../svg-png-ext/cofiguration-image.png') ;
}
.confHeaderTitle{
    position: relative;
    left: 5%;
    padding-top: 20px;
    height: 40px;
    width: 197px;
    margin-top: 25px;
    color: #24273A;
    font-family: Metric, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 29px;
}
.admin-logout{

    display: flex;
    float: right;
    position: relative;
    bottom: 35px;
    right: 50px;
}
.vertical-line{
    box-sizing: border-box;
    height: 17px;
    width: 1px;
    border: 1px solid #6C6C6C;
}
.admin-logout-buttons{
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}
.left-btn{
    float:left;
    padding-right: 20px;
    font-family: Metric, sans-serif;
}
.right-logout-btn{
    padding-top: 22px;
    padding-left: 20px;
    position: relative;
    top: -21px;
    font-family: Metric, sans-serif;
}
.left-icon-header{
    display: table-cell;
    padding-right: 15px;
    width: 41px;
    position: relative;
    bottom: 8px;
}
.user-icon-background{
    background-color: #292E44;
    width: 40px;
    height: 40px;
    border: 5px solid #292E44;
    border-radius: 100%;
}
.pop-up-cover{

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    visibility: visible;
}
.pop-up-style{
    height: 218px;
    width: 445px;
    position: relative;
    left: 43%;
    top: 33%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.26);
}
.popup-title{
    color: #000000;
    font-family: Metric, sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.6px;
    line-height: 22px;
    position: relative;
    bottom: 18px;
    left: 9%;
}
.popup-content{
    color: #000000;
    font-family: Metric, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 20px;
    position: relative;
    top: 36px;
    left: -23px;
}
.popup-line-separator{

    height: 1px;
    width: 444px;
    border: 1px solid #DCDEDF;
    position: absolute;
    left: 0;
    bottom: 20%;
}
.popup-yes-btn{
    position: absolute;
    bottom: 5%;
    right: 6%;
    cursor: pointer;
    color: #000000;
    font-family: Metric, sans-serif;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 17px;
}
.popup-no-btn{
    position: absolute;
    bottom: 5%;
    right: 17%;
    cursor: pointer;
    color: #53ADC3;
    font-family: Metric, sans-serif;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 17px;
}
.popup-image{
    height: 52px;
    width: 52px;
    background-color: #FCDB29;
    position: relative;
    right: 52px;
}
.svg-popup-style{

    position: relative;
    height: 42px;
    left: 16px;
    top: 8px;
}
.dev-popup-content{

    color: #000000;
    font-family: Metric, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    position: relative;
    top: 10px;
    float: left;
    left: 44px;
    line-height: 2;
}

.restore-DB-popup-content{
    color: #000000;
    width: 335px;
    font-family: Metric, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    position: relative;
    top: 24px;
    float: left;
    left: -45px;
    line-height: 2;
}
.restore-popup-title{
    color: #000000;
    font-family: Metric, sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.6px;
    line-height: 22px;
    position: relative;
    bottom: 22px;
    float: left;
    left: 11%;
}
.pointer-cursor{
    cursor: pointer;
}
.saved-popup-title{
    color: #000000;
    font-family: Metric, sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.6px;
    line-height: 22px;
    position: relative;
    bottom: -36px;
    left: 30%;
}
.no-search-result-svg{

    margin-top: 140px;
    position: relative;
    left: 47%;
}
.title-no-search{
    position: relative;
    top: 10px;
    left: 13px;
    color: #6C6C6C;
    font-family: Metric, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}
.table-header-div{
    grid-row: 1;
    -ms-grid-row:1;
    position: fixed;
    background-color: white;
    height: 18%;
    width: 80%;
}
/*IE only css*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ie-style-user-icon {
        height: 40px;
        width: 30px;
        padding-bottom: 14px;
    }
}