

#grid-container-main{
    display: grid;
    -ms-grid-rows: 10% 1fr;
    grid-template-rows: 10% 1fr;
    -ms-grid-columns: 20% 1fr;
    grid-template-columns: 20% 1fr;
    width: 100%;
    height: 100%;
}
#grid-container-main > header {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    grid-column: 2;
    grid-row: 1;
}
#grid-container-main > nav {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-column: 1;
    grid-row: 1/4;
    background-color: #ffa08c;
}
#grid-container-main > main {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    grid-column: 2;
    grid-row: 2;
    background-color: #FFFFFF;
}
.configurationHeader{

    background-image: url('../svg-png-ext/cofiguration-image.png') ;
}
.confHeaderTitle{
    padding-top: 20px;
    padding-left: 40px;
    height: 40px;
    width: 197px;
    margin-top: 25px;
    color: #24273A;
    font-family: Metric, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 29px;
}
.admin-logout{

    display: table;
    float: right;
    position: relative;
    bottom: 35px;
    right: 50px;
}
.vertical-line{
    display: table-cell;
    box-sizing: border-box;
    height: 17px;
    width: 1px;
    border: 1px solid #6C6C6C;
}
.admin-logout-buttons{
    color: #000000;
    font-size: 20px;
    line-height: 20px;
}
.left-btn{
    display: table-cell;
    float:left;
    padding-right: 20px;
    font-family: Metric, sans-serif;
}
.right-logout-btn{
    display: table-cell;
    padding-top: 22px;
    padding-left: 20px;
    position: relative;
    top: -6px;
    font-family: Metric, sans-serif;
}
.left-icon-header{
    display: table-cell;
    padding-right: 15px;
    width: 41px;

}