<div>
<h5 class="roboto-regular bigPadding" translate="IDENTIFICATION"></h5>
<div class="noUserSection">
    <label class="roboto-medium" translate="Already_have_an_account" ></label>
    <sec-validate>

        <sec-input
                sec-required
                sec-email
                sec-placeholder="E-mail"
                input-type-attr="email"
                model-attr="user.email"
                no-red-star="true"
                id-attr="loginModal_email">
        </sec-input>

        <sec-input
                sec-required
                sec-placeholder="Password"
                sec-min-length="4"
                sec-pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{0,12})"
                pattern-error-attr="Use up to 12 characters Include at least one letter and one number"
                input-type-attr="password"
                model-attr="user.password"
                no-red-star="true"
                id-attr="loginModal_password">
        </sec-input>

        <label translate="Forgot_your_password"
               class="roboto-regular"
               id="Forgot_your_password" ></label>

        <br /><input sec-submit-attr="signIn(user, false)"
                     class="a-button roboto-medium"
                     data-ng-class="{ buttonDisable : invalidItems.length > 0 }"
                     type="button"
                     value="{{'LOGIN' | translate}}" />
        <br />

        <label ng-class="{ invalid : wrongFields.success == 'false' }" >{{ wrongFields.reason }}</label>


    </sec-validate>
</div>
<div id="newClient" class="noUserSection">
    <div class="cover">
        <div>
            <label class="roboto-medium" translate="New_client" ></label>
            <p>{{'Create_your_account_easily' | translate}}</p>
        </div>
        <a href="#/register" class="a-button roboto-medium"
           data-ng-class="{ buttonDisable : invalidItems.length > 0 }">
            {{'REGISTRATION' | translate}}
        </a>
    </div>
</div>
</div>
