

<div>

<div id="detailslink">
    <label class="roboto-regular" ng-class="{selected : opCtrl.firstTag}"  ng-click="opCtrl.firstTag = true">1. {{ 'SHIPPING_DETAILS' | translate }}</label>
    <label class="roboto-regular" ng-class="{selected : !opCtrl.firstTag}" ng-click="opCtrl.firstTag = false" >2. {{ 'PAYMENT_METHOD' | translate }}</label>
</div>


    <!-- USER DETAILS SECTION-->
    <div id="userSection" ng-show="opCtrl.firstTag">
        <div id="userDetails" ng-show="opCtrl.firstTag">
            <div>
                <img src="css/images/User.jpg" alt="img"/>
                <label>David Smith</label>
            </div>
            <div>
                <img src="css/images/User.jpg" alt="img"/>
                <label>Altalef</label>
                <label>HPE Software (building M3)</label>
                <label>Yahud</label>
                <label>Israel</label>
            </div>
            <div>
                <img src="css/images/User.jpg" alt="img"/>
                <label>972-54-8164355</label>
            </div>
        </div>
        <div>
            <a href="#/EditShippingDetails">{{ 'Edit_shipping_Details' | translate }}</a>
            <label>{{ 'SHIPPING_BY' | translate }}: <img src="css/images/Shipex.png" alt="ShipEx" /></label>
        </div>
        <div>
            <button class="a-button nextBtn"> {{ 'NEXT' | translate }} </button>
        </div>
    </div>
    <!-- END USER DETAILS SECTION-->


    <!-- PAYMENT METHOD SECTION-->
    <div id="paymentMethod" ng-hide="opCtrl.firstTag">
        <div>
            <div>

            </div>
            <div>

            </div>
        </div>
        <div>
        </div>
    </div>
    <!-- END PAYMENT METHOD SECTION-->











</div>

