
.coming-soon{
    background-color: #24273a;
    background-image: url('../svg-png-ext/shapes.svg');
    height: 100vh;
    min-height: 840px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.advantage-header{
    display: flex;
    position: absolute;
    top: 65px;
    left: 65px;
}

.middle-container-soon{

    background-image: url("../svg-png-ext/Oval.svg");
    position: absolute;
    top: 21%;
    left: 37%;
}

.soon-title{

    color: #FFFFFF;
    font-family: Metric, sans-serif;
    font-size: 23px;
    line-height: 20px;
    margin-left: 80px;
    list-style-type: none;

}
.back-buttons-container{

    width: 350px;
    display: flex;
    justify-content: space-between;
}
.coming-soon-buttons{

    height: 40px;
    width: 270px;
    background-color: #5DB2C9;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}
.social-links-container{

    width: 73px;
    display: flex;
    justify-content: space-between;
    margin-left: 24%;
}
.prevent-pointer{
    pointer-events: none;
}

.linkedin-icon{
    fill:white;
}
.soon-advantage-icon{
    height: 36.81px;
    width: 25.63px;
}
.more-size{
    font-size: 44px;
}
.soon-position{
    margin-left: 50px;
}
.coming-soon-btn-container{
    display: grid;
    display:-ms-grid;
    margin-left: 90px;
}
/*IE only*/
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .coming-soon-btn-container{
        margin-left: -30px;
    }
}
.social-icon{
    cursor: pointer;
    margin: 30px;
}
.image-size{
    height: 100px;
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

    .middle-container-soon{
        left: 28%;
    }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .middle-container-soon{
        left: 26%;
    }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .middle-container-soon{
        left: 26%;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 420px) and (max-width: 767px) {
    .coming-soon{
        min-height: auto;
        height: 106vh;
    }
    .advantage-header{
        left: 25px;
        top: 15px;
    }
    .more-size {
        font-size: 14px;
        margin-top: 10px;
    }
    .middle-container-soon{
        left: 26%;
        background-image: none;
        top: 4%;
    }
    .image-size {
        height: 29px;
    }
    .soon-position {
        margin-left: 17px;
    }
    .soon-title{
        font-size: 15px;
        margin-left: 6px;
        margin-top: -27px;
    }
    .coming-soon-btn-container{
        margin-left: 15px;
        margin-top: -23px;
    }
    .social-links-container{
        margin-left: 3%;
        height: 23px;
    }
    .coming-soon-buttons{
        height: 30px;
        width: 208px;
        font-size: 11px;
    }
    .soon-advantage-icon{
        height: 24.81px;
        width: 16.63px;
    }
    .social-icon{
        margin-top: -2px;
        margin-left: 27px;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .coming-soon{
        min-height: auto;
    }
    .advantage-header{
        left: 25px;
    }
    .more-size {
        font-size: 27px;
        margin-top: 10px;
    }
    .middle-container-soon{
        left: -20px;
        background-image: none;
    }
    .image-size {
        height: 57px;
    }
    .soon-position {
        margin-left: 32px;
    }
    .soon-title{
        font-size: 20px;
        margin-left: 25px;
    }
    .coming-soon-btn-container{
        margin-left: 27px;
    }
    .social-links-container{
        margin-left: 15%;
    }

}