

.coming-soon{
    background-color: #24273a;
    background-image: url('../svg-png-ext/shapes.svg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.advantage-header{
    display: flex;
    position: absolute;
    top: 65px;
    left: 65px;
}

.middle-container-soon{

    background-image: url("../svg-png-ext/Oval.svg");
    position: absolute;
    top: 21%;
    left: 37%;
}

.soon-title{

    color: #FFFFFF;
    font-family: Metric;
    font-size: 23px;
    line-height: 20px;
    margin-left: 80px;
    list-style-type: none;

}
.back-buttons-container{

    width: 350px;
    display: flex;
    justify-content: space-between;
}
.coming-soon-buttons{

    height: 40px;
    width: 270px;
    background-color: #5DB2C9;
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}
.social-links-container{

    width: 73px;
    display: flex;
    justify-content: space-between;
    margin-left: 24%;
}
.prevent-pointer{
    pointer-events: none;
}

.linkedin-icon{
    fill:white;
}
.soon-advantage-icon{
    height: 36.81px;
    width: 25.63px;
}
.more-size{
    font-size: 44px;
}
.soon-position{
    margin-left: 50px;
}
.coming-soon-btn-container{
    display: grid;
    margin-left: 90px;
}
.social-icon{
    cursor: pointer;
    margin: 30px;
}
.image-size{
    height: 100px;
}