
.margin-top-labels{
    margin-top: 21px;
}
.enter-details-to-log {
    height: 20px;
    color: #FFFFFF;
    font-family: Metric, sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0px;
}
.login {
    /*height: 215px;*/
    width: 269px;
    margin-top: 120px;
    margin-left: 100px;
}

@media screen and (max-width: 1630px) {

    .login{
        margin-left: 75px;
    }

}
.user-name {
    height: 16px;
    /*width: 68px;*/
    opacity: 0.82;
    color: #A4A8BD;
    font-family: Metric, sans-serif;
    font-size: 16px;
    line-height: 19px;
}
.input-style{
    border: 0;
    border-bottom: 1px solid #7E85B1;
    width: 269px;
    background-color: #24273A;
    color: #ffff;
}
input::-webkit-input-placeholder {
    height: 16px;
    opacity: 0.82;
    color: #A4A8BD;
    font-family: Metric, sans-serif;
    font-size: 16px;
    line-height: 19px;
}
input::-ms-input-placeholder {
    height: 16px;
    opacity: 0.82;
    color: #A4A8BD;
    font-family: Metric, sans-serif;
    font-size: 16px;
    line-height: 19px;
}
input::-ms-value{
    color: white;
}
#userNameInput{
    background-color: #24273a !important;
}
.remember-me {
    height: 14px;
    /*width: 78px;*/
    opacity: 0.82;
    margin-left: 10px;
    color: #A4A8BD;
    font-family: Metric, sans-serif;
    font-size: 14px;
    line-height: 17px;
}
.rectangle-remember-me {
    height: 14px;
    width: 14px;
}

.remember-me-label{
    display: flex;
    justify-content: space-between;
    /*margin-top: 12px;*/
}
.sign-in-btn{
    height: 35px;
    width: 92px;
    background-color: #5DB2C9;
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}
.pop-up-design{

    width: 200px;
    height: 100px;
    bottom: 150px;
}

.failed-login{
    color: rgba(243, 68, 68, 1);

    font-family: Metric, sans-serif;
}

.wrong-signIn-for-btn{
    display: block;
    margin-top: 0;
}
#failedLoginText{
    letter-spacing: 0.5px;
    font-size: 14px;
}