.title-style{
    /*height: 20px;*/
    /*width: 49px;*/
    text-align: left;
    color: #FFFFFF;
    font-family: Metric;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}
.content-style{

    opacity: 0.82;
    color: #B8BCCF;
    font-family: Metric;
    font-size: 14px;
    line-height: 18px;
    white-space: normal;
    text-align: left;
}
.make-scroll-ul{
    white-space: nowrap;
    width: 95%;
    text-align:center;
    overflow: hidden;
    margin: 0px;
}
.make-scroll-li{
    width: 295px;
    list-style:none;
    padding:10px 0;
    display: inline-grid;
}
.scroll-btn-container{
    position: absolute;
    top: 15%;
    right: 8%;

}
#leftBtn{
    position: relative;
    bottom: 15px;
    right: 15px;
}
#rightBtn{
    bottom: 15px;
    position: absolute;
}
#content1 li{
    margin-right: 72px;
}
#content2 li{
    margin-right: 72px;
}
.activeLeftScroll{
    fill:#FFFFFF;
}