<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="css/images/favicon.ico">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>&nbsp;Advantage Shopping</title>
    <!-- build:css css/main.min.css -->
    <link href="css/main.css" rel="stylesheet">
    <!-- endbuild -->



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->





</head>




<body data-ng-controller="mainCtrl">


<login-modal></login-modal>





<!-- mobile slider -->
<aside id="mobile-section">
    <ul>
        <li>
            <a class="img"><img src="css/images/Cart.jpg" data-ng-click="openCart()" /><span>{{cartProducts.length}}</span></a>
        </li>
        <li>
            <a class="img center">
                <span ng-hide="!userCookie.response" class="hi-user containMiniTitle block" >
                    {{ "hi" | translate}} {{userCookie.name}}!
                    <div class="mini-title">
                        <label class="option" translate="PERSONAL_AREA" ng-click="accountSection()"></label>
                        <label class="option" translate="SIGN_OUT" ng-click="signOut()"></label>
                    </div>
                </span>
                <img ng-hide="userCookie.response" ng-click="login()" src="css/images/User.jpg" />
            </a>
        </li>
        <li>
            <a class="img"><img src="css/images/Sesrch.jpg" /></a>
        </li>
    </ul>
</aside>
<!-- end mobile slider -->







<!-- navegation -->
<header ng-show="welcome" data-ng-cloak>
    <nav>
        <ul class="roboto-light desktop-handler">
            <li data-ng-mouseenter="enterCart()" data-ng-mouseleave="leaveCart()">
                <a class="img" href="#/shoppingCart" >
                    <img id="mainCart" src="css/images/Cart.jpg"/>
                    <span class="cart" ng-show="(cart | productsCartCount) > 0">{{ cart | productsCartCount }}</span>
                </a>
                <ul>
                    <li style="position: relative; background-color: white" >
                        <tool-tip-cart cart="cart" id="toolTipCart"></tool-tip-cart>
                    </li>
                </ul>
            </li>
            <li>
                <a class="img">
                    <span ng-show="userCookie.response" class="hi-user containMiniTitle" >
                        {{ "hi" | translate}} {{userCookie.name}}!
                        <div class="mini-title">
                            <label class="option" translate="PERSONAL_AREA" ng-click="accountSection()"></label>
                            <label class="option" translate="SIGN_OUT" ng-click="signOut()"></label>
                        </div>
                    </span>
                    <img ng-hide="userCookie.response" ng-click="login()" src="css/images/User.jpg" />
                </a>
            </li>
            <li>
                <a class="img">
                    <img data-ng-click="openSearchProducts()" src="css/images/Sesrch.jpg" />
                </a>
                <tool-tip-search></tool-tip-search>
            </li>
            <li>
                <a class="menu navLinks" ng-click="gotoElement('our_products')" translate="OUR_PRODUCTS"></a>
            </li>
            <li>
                <a class="menu navLinks" ng-click="gotoElement('special_offer_items')" translate="SPECIAL_OFFER_ITEMS"></a>
            </li>
            <li>
                <a class="menu navLinks" ng-click="gotoElement('popular_items')" translate="POPULAR_ITEMS"></a>
            </li>
        </ul>
        <div class="logo">
            <a href="#/"> <img src="css/images/logo.png" /></a>
            <div id="mobile-btn" class="mobile-btn-handler" ng-click="openMobileSection()">
                <span></span><span></span><span></span>
            </div>
        </div>
    </nav>
</header>

<!-- end navegation " ng-show="cartCount != 0 -->







<div class="uiview" ui-view></div>



<script type="text/javascript" data-main="main" src="vendor/requirejs/require.js"></script>


</body>
</html>