/shipex/src/main/java/store/advantage/shipex/service
.idea/*
*/src/main/webapp/node_modules/*
*/target/*
*.log
*/src/main/webapp/vendor/*
*/src/main/webapp/app/templates/*
*/application.log.1
*.~vsdx
~*.xlsx
*.war
/root/src/main/webapp/target
