
#registerCover{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

#infoDemo, #form{
    display: table-cell;
    vertical-align: top;
}

#form *{
    color:#2a2a2a;
}


#infoDemo{
white-space: nowrap;
}

#infoDemo > div {
    padding: 22px 23px;
    margin: 34px 50px;
    position: relative;
    border: solid 1px #454545;
}

#infoDemo > div:before {
    content: "";
    position: absolute;
    top:31px;
    left: 28px;
    width: 2px;
    height: 65px;
    background-color:#454545;
    z-index: 50;
}

#infoDemo > div h4 {
    background-image: url(../../../css/images/Bell.png);
    background-repeat:no-repeat;
    background-position: 12% 50%;
    font-size: 20px;
    font-weight: bold;
    text-indent: 45px;
}

#infoDemo > div p {
    font-size: 15px;
    font-weight: bold;
    text-indent: 15px;
    padding: 3px;
    margin: 2px;
}

#form{
    width: 1000px;
}


#formCover > div {
    max-width: 815px;
}


#formCover > div h3 {
    margin: 30px  0  15px  0 ;
}


#formCover > div input[type=text] {
    display: inline-block;
    width: 350px;
    margin-right: 50px;
    margin-bottom: 10px;
}



#formCover > div input[type=text].titleAnim {
    position: relative;
    background-color: red;
}

#formCover > div input[type=text].titleAnim:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 1;
}

#formCover > div .option {
    margin: 20px 0;
    display: block;
}

@media screen and (max-width: 1200px)
{

    #formCover > div input[type=text] {
        width: 40%;
    }
}

@media screen and (max-width: 1000px)
{

    #formCover > div input[type=text] {
//        display: inline-block;
  //      width: 100%;
    //    margin-right: 50px;
    }
}

@media screen and (max-width: 940px)
{

    #infoDemo{
        margin: 0 auto;
        display: block;
    }

    #form{
        padding: 25px 50px;
        box-sizing: border-box;
        width: 100%;
        background-clip: content-box;
    }


    #infoDemo{
        width: 340px;
        margin: 10px auto;
    }


    #formCover > div input[type=text] {
        display: inline-block;
        width: 42%;
        margin-right: 25px;
        margin-left: 25px;
    }
}


@media screen and (max-width: 780px)
{

    #form{
        width: 100%;
        display: block;
    }

    #formCover > div input[type=text] {
        display: block;
        width: 100%;
        margin: 0px;
    }
}



