



<div class="PopUp">
    <div>
        <div class="closePopUpBtn" ></div>
        <div class="login" ng-controller="userController" >

            <img src="../../css/images/logo.png">

            <span class="facebook" translate="FACEBOOK_SIGN_IN" data-ng-click="singWithFacebook()"></span>
            <label class="or {{ message._class }} center">
                {{message.text}}
            </label>

            <sec-validate>

                <sec-input sec-placeholder="{{'User_name' | translate}}"
                           sec-required="{{'User_name' | translate}} {{'field_is_required' | translate}}"
                           sec-min-length="5"
                           sec-max-length="15"
                           no-red-star="true"
                           sec-pattern="^[A-Za-z0-9_.-]{0,999}$"
                           pattern-error-attr="{{ 'Use_letters_number_and_the_following_symbols_only' | translate }}"
                           model-attr="loginUser.loginUser"
                           id-attr="smollLoginUsername">
                </sec-input>

                <sec-input sec-placeholder="{{'Password' | translate}}"
                           sec-required="{{'Password' | translate}} {{'field_is_required' | translate}}"
                           sec-min-length="4"
                           no-red-star="true"
                           sec-pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{0,12})"
                           pattern-error-attr="{{ 'Use_up_to_12_characters_Include_at_least_one_letter_and_one_number' | translate }}"
                           input-type-attr="password"
                           model-attr="loginUser.loginPassword"
                           id-attr="smollLoginPassword">
                </sec-input>


                <sec-input sec-placeholder="{{'Email' | translate}}" ng-if="config.emailAddressInLogin"
                           sec-required="{{'Email' | translate}} {{'field_is_required' | translate}}"
                           sec-email
                           no-red-star="true"
                           input-type-attr="email"
                           model-attr="loginUser.email"
                           id-attr="smollLoginEmail">
                </sec-input>

                <div class="left option " style="top: 20px">
                    <input type="checkbox" ng-model="rememberMe" >
                    <span translate="REMEMBER_ME"></span>
                </div>

                <button class="sing-in"
                        a-sec-validate-invalid
                        sec-submit-attr="signIn(loginUser, rememberMe)">
                    {{'SIGN_IN' | translate}}
                </button>

            </sec-validate>

            <label class="forgot-Passwowd" translate="FORGOT_PASSWORD"
                   data-ng-click="forgotPassword()"></label>
            <label class="create-new-account" translate="CREATE_NEW_ACCOUNT"
                   data-ng-click="createNewAccount()"></label>

        </div>
    </div>


</div>















