




<div class="PopUp">
    <div>
        <div class="closePopUpBtn" ></div>
        <div class="login" ng-controller="userController" >

            <img src="../../css/images/logo.png">

            <label translate="ONLINE_SHOPPING"></label>
            <span class="facebook" translate="FACEBOOK_SIGN_IN" data-ng-click="singWithFacebook()"></span>
            <label class="or" translate="OR" style=""></label>


            <span class="animPlaceholderUp">
                <input type="text" ng-model="loginUser.loginUser" placeholder="{{'Name' | translate }}" />
            </span>


            <span class="animPlaceholderUp">
                <input ng-model="loginUser.loginPassword" type="Password" placeholder="{{'Password' | translate }}"
                       ng-class="{bottomLine : config.emailAddressInLogin}" autocomplete="off" >
            </span>

            <span class="animPlaceholderUp"
                  ng-class="{bottomLine : config.emailAddressInLogin}"
                  ng-if="config.emailAddressInLogin" >
                <input type="text" autocomplete="off"
                       ng-model="loginUser.email" placeholder="{{'Email' | translate }}" >
            </span>

            <div class="left option " style="top: 20px">
                <input type="checkbox" ng-model="rememberMe" > <span translate="REMEMBER_ME"></span>
            </div>

            <button class="sing-in" translate="SIGN_IN"
                    data-ng-click="signIn(loginUser, rememberMe)"></button>
            <label class="forgot-Passwowd" translate="FORGOT_PASSWORD"
                   data-ng-click="forgotPassword()"></label>
            <label class="create-new-account" translate="CREATE_NEW_ACCOUNT"
                   data-ng-click="createNewAccount()"></label>

            <span> {{ wrongFields.reason }}</span>

        </div>
    </div>
</div>



