


<section id="png">
    <img src="../../css/images/mariaDesigns/Register.png" />
</section>


<nav class="pages">
    <a translate="HOME" ></a>
    <a class="select" translate="CREATE_ACCOUNT">  </a>
</nav>
<section>
    <article>
        <div id="cover">
            <h3 class="roboto-regular" translate="CREATE_ACCOUNT"></h3>
            <div id="infoDemo">
                <div>
                    <h4></h4>
                    <p translate="this_is_a_demo"></p>
                    <p translate="Please_enter_a_fake_data"></p>
                </div>
            </div>
            <div id="form">
                hola
            </div>
        </div>
    </article>
</section>




















