
<section>
    <article>

        <div class="categoryData">
            <h1 class="roboto-bold"> {{categoryData.promotedProduct.promotionHeader}}</h1>
            <h2 class="roboto-bold"> {{categoryData.promotedProduct.promotionSubHeader}}</h2>
            <h3 class="roboto-bold">
                {{categoryData.promotedProduct.productName}} |
                {{ 'STARTING_AT' | translate }} ${{categoryData.promotedProduct.staringPrice}}
            </h3>
            <button class="btn btn-primary btn-lg outline roboto-medium roboto-bold"
                     translate="BUY_NOW">
            </button>
        </div>
        <div>
            <nav class="pages">
                <a translate="HOME" ></a>
                <a class="select"> {{categoryName}} </a>
            </nav>
        </div>

        <h2 class="categoryTitle">{{categoryName}}</h2>

        <category-type-products-drtv category="categoryData">
        </category-type-products-drtv>

    </article>
</section>