<div  class="" >
    <div class="row">
        <div class="col-xs-12 col-md-no-padding" ng-click="goToCategory(categories[0].categoryId)">
            <div class="square home_page_bg_with_txt"
                 style="background-image: url({{catImg}});background-position: 85% 100%;background-size: 100%;background-repeat: no-repeat;padding-bottom: 33%;">
                <div class="home_page_label_container">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-no-padding" ng-click="goToCategory(categories[0].categoryId)">
            <div class="home_page_bg_with_txt" style="background-color: #454545;">
                <label style="    padding-left: 2%;font-family: RobotoLight;color: white;font-size: 1vw;">{{categoryName}}</label>
            </div>
        </div>
    </div>

</div>