<div  class="" >
    <div id="our_products" class="row">
        <div class="col-xs-4 col-md-no-padding product_div_gradient" ng-click="goToCategory(categories[0].categoryId)">
            <div class="square home_page_bg_with_txt"
                 style="background-image: url({{categories[0].image}});background-position: 85% 40%;background-size: 55%">
                <div class="home_page_label_container">
                    <label style="display: block;">{{categories[0].categoryName}}</label>
                    <label>{{ 'SHOP_NOW' | translate }}</label>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-no-padding" ng-click="goToCategory(categories[1].categoryId)">
            <div class="square" style="background-image: url({{categories[1].image}})">
                <div class="home_page_label_container">
                    <label style="display: block;">{{categories[1].categoryName}}</label>
                    <label>{{ 'SHOP_NOW' | translate }}</label>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-no-padding product_div_gradient" ng-click="goToCategory(categories[2].categoryId)">
            <div class="square home_page_bg_with_txt"
                 style="background-image: url({{categories[2].image}});background-size: 47%;background-position-y: 30%;">
                <div class="home_page_label_container">
                    <label style="display: block;">{{categories[2].categoryName}}</label>
                    <label>{{ 'SHOP_NOW' | translate }}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-md-no-padding" ng-click="goToCategory(categories[3].categoryId)">
            <div class="square " style="background-image: url({{categories[3].image}})">
                <div class="home_page_label_container">
                    <label style="display: block;">{{categories[3].categoryName}}</label>
                    <label>{{ 'SHOP_NOW' | translate }}</label>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-no-padding product_div_gradient" ng-click="goToCategory(categories[4].categoryId)">
            <div class="square home_page_bg_with_txt"
                 style="background-image: url({{categories[4].image}});background-position-y: 70%;">
                <div class="home_page_label_container">
                    <label style="display: block;">{{categories[4].categoryName}}</label>
                    <label>{{ 'SHOP_NOW' | translate }}</label>
                </div>
            </div>

        </div>
        <div class="col-xs-4 col-md-no-padding product_div_gradient" ng-click="goToCategory(categories[5].categoryId)">
            <div class="square home_page_bg_with_txt" style="background-image: url({{categories[5].image}});background-size: 73%;
    background-position-x: 90%;
    background-position-y: 21%;">
                <div class="home_page_label_container">
                    <label style="display: block;">{{categories[5].categoryName}}</label>
                    <label>{{ 'SHOP_NOW' | translate }}</label>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 10px;"></div>
    <div id="special_offer_items" class="row" style="text-align: center">
        <div class="col-xs-12 col-md-no-padding" style="padding-top: 3%;font-size: 1.7vw;font-family: RobotoRegular;">{{'SPACIAL_OFFER' |
            translate}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 col-md-no-padding ">
            <div class="square "
                 style="background-image: url('css/images/Special-offer.jpg');background-size: 90%;background-repeat: no-repeat;padding-bottom: 50%;">
            </div>
            <!--<img class="img-responsive" src="css/images/Special-offer.jpg">-->
        </div>
        <div class="col-xs-3 col-md-no-padding" style="    padding-top: 8%;">
            <label class="col-xs-12 col-md-no-padding"
                   style="font-family: RobotoLight;font-size: 2.5vw;">{{deal.name}}</label>
            <label class="col-xs-12 col-md-no-padding">{{deal.product.productName}}</label>
            <label class="col-xs-12 col-md-no-padding">{{deal.description}}</label>
            <button class="col-xs-4 col-md-no-padding btn btn-primary btn-lg outline" type="button">Default</button>
        </div>
    </div>
    <div style="padding-top: 10px;"></div>

    <div class="row">
        <div class="col-xs-12 col-md-no-padding ">
            <div class="square"
                 style="background-image: url('css/images/Banner.jpg');background-size: 100%;background-repeat: no-repeat;padding-bottom: 33%;">
            </div>
        </div>
    </div>
    <div style="padding-top: 3%;"></div>
    <popular-items-drtv></popular-items-drtv>
    <div style="padding-top: 3%;"></div>
    <social-media-drtv></social-media-drtv>
</div>