<!--


<section id="png">
    <img src="../../css/images/product.png" />
</section>

<style>
    #png{
        top:-10px;
    }
</style>

-->

<nav class="pages">
        <a translate="HOME" ></a>
        <a class="select"> {{product.productAlias}} </a>
</nav>

<section>
    <article class="max-width">

        <!-- image section -->
            <div id="product-image">
                <figure>
                    <img alt="" id="imgToBuy" ng-src="fetchImage?image_id={{::product.imageUrl}}">
                </figure>
                <div id="cover">
                    <div id="length">
                        <div class="imageAlias">
                            <img alt="" ng-src="fetchImage?image_id={{::product.imageUrl}}">
                        </div>
                        <div class="imageAlias">
                            <img alt="" ng-src="fetchImage?image_id={{::product.imageUrl}}">
                        </div>
                         <div class="imageAlias"><img alt="" ng-src="fetchImage?image_id={{product.imageUrl}}"></div>
                         <div class="imageAlias"><img alt="" ng-src="fetchImage?image_id={{product.imageUrl}}"></div>

                        <!--
                          <div class="imageAlias"><img alt="" ng-src="fetchImage?image_id={{product.imageUrl}}"></div>
                          <div class="imageAlias"><img alt="" ng-src="fetchImage?image_id={{product.imageUrl}}"></div>
                          <div class="imageAlias"><img alt="" ng-src="fetchImage?image_id={{product.imageUrl}}"></div>
                          <div class="imageAlias"><img alt="" ng-src="fetchImage?image_id={{product.imageUrl}}"></div>
                        -->

                    </div>
                </div>
            </div>
            <!-- end image section -->



            <!-- description section -->
        <div id="description">
            <h1 class="roboto-regular" > {{::product.productName | uppercase}} </h1>
            <h2 class="roboto-thin"> {{::product.price | currency:'$'}} </h2>
            <p class="roboto-light"> {{ ::product.description }} </p>
        </div>
        <div id="productProperties">
            <div class="colors">
                <span ng-repeat="color in product.colors" ng-style="{'background-color':'{{color.color}}'}" >
                </span>
            </div>

            <br />
            <label class="Quantity roboto-light" translate="Quantity:" ></label>
            <select ng-model="Quantity" ng-options="item for item in [1,2,3,4,5,6,7,8,9]" ></select>

            <br />
            <button class="roboto-medium" translate="ADD_TO_CART"
            ng-click="addToCart()" > </button>
        </div>
        <!-- end description section -->

    </article>

    <article class="max-width topSpace">
        <h2 class="roboto-regular product_specifications" translate="PRODUCT_SPECIFICATIONS"></h2>
        <div class="roboto-light list" ng-repeat="attr in product.attributes">
            <label class="attr">{{ attr.attributeName | uppercase}}</label>
            <label class="value">{{ attr.attributeValue }}</label>
        </div>
    </article>
</section>


<social-media-drtv></social-media-drtv>