
#registerCover{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

#infoDemo, #form{
    display: table-cell;
    vertical-align: top;
}

#form *{
    color:#2a2a2a;
}

#infoDemo{
white-space: nowrap;
}

#infoDemo > div {
    padding: 22px 23px;
    margin: 34px 50px;
    position: relative;
    border: solid 1px #454545;
}

#infoDemo > div:before {
    content: "";
    position: absolute;
    top:31px;
    left: 28px;
    width: 2px;
    height: 65px;
    background-color:#454545;
    z-index: 50;
}

#infoDemo > div h4 {
    background-image: url(../../../css/images/Bell.png);
    background-repeat:no-repeat;
    background-position: 12% 50%;
    font-size: 20px;
    font-weight: bold;
    text-indent: 45px;
}

#infoDemo > div p {
    font-size: 15px;
    font-weight: bold;
    text-indent: 15px;
    padding: 3px;
    margin: 2px;
}

#formCover > div {
    max-width:  942px;
    margin: 0 0 47px 0;
}


#formCover > div h3 {
    margin: 30px  0  15px  0 ;
}


#formCover > div span{
    display: inline-block;
    width: 350px;
    margin-right: 50px;
}

#formCover > div input[type=text],
#formCover > div input[type=password],
#formCover > div .inputtext{
    width: 100%;
}

.animPlaceholderUp > .validationInfo label{
display: block;
}


.animPlaceholderUp .validationInfo{
    display: none;
}

.animPlaceholderUp img {
    position: absolute;
    right: 0px;
    top: 12px;
}

/*

#formCover .validationInfo{
    display: none;
    padding: 20px;
    padding-left: 40px;
    background-color: white;
    border:solid 1px #2d2d2d;
    position: absolute;
    right: -13px;
    top: 38px;
    z-index: 20;
}

#formCover .validationInfo:before{
    content: '';
    position: absolute;
    top: -10px;
    right: 10px;
    border-bottom: 10px solid #2d2d2d;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#formCover .validationInfo:after{
    content: '';
    position: absolute;
    top: -8px;
    right: 10px;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
*/

#formCover .validationInfo ul li span{
    color: #ff454f;
}

#formCover .option {
    margin: 20px 0;
    display: block;
}

#formCover .option span{
    width: 100%;
}

#form input[type=submit]{
    border:  solid 1px #2a2a2a;
    color:#2a2a2a;
    background-color: white;
    width: 330px;
    font-size: 16px;
    height: 47px;
    display: block;
    margin: 20px auto;
    transition: all .3s ease;
}

#form input[type=submit]:hover{
    border:  solid 1px white;
    color: white;
    background-color:#2a2a2a;
}

#form input[type=submit]:hover{
    color: white;
    background-color:#2a2a2a;
    width: 330px;
}

.ALREADY_HAVE_AN_ACCOUNT{
    display: block;
    text-align: center;
}

.ALREADY_HAVE_AN_ACCOUNT a{
    font-size: 12px;
    color:#2a2a2a;
    cursor: pointer;
}

#formCover .must{
    position: absolute;
    top:12px;
    left:-12px;
    color: #ff454f !important;
}

#form .invalid{
    color: #ff454f !important;
}

#form .valid{
    color: lime !important;
}

#form .center{
    display: block;
    text-align: center;
    padding: 20px;
}

#form .invalidInput{
    border-bottom: solid #ff454f 1px;
}

#form .opacityButtonDisable{
    opacity: 0.32;
    cursor: default;
}

#form .opacityButtonDisable:hover{
    background-color: white !important;
    color: #2a2a2a !important;
    border:  solid #2a2a2a 1px !important;
}

@media screen and (max-width: 1200px)
{

    #formCover > div span {
        width: 40%;
    }

}

@media screen and (max-width: 940px)
{

    #infoDemo, #form{
        display: block;
    }


    #infoDemo{
        margin: 0 auto;
        display: block;
    }

    #form{
        box-sizing: border-box;
        width: 100%;
        background-clip: content-box;
        padding: 25px 20px;

    }


    #infoDemo{
        width: 340px;
        margin: 10px auto;
    }

    #formCover{
        width: 100%;
    }
    #formCover > div span {
        display: inline-block;
        width: 43%;
        margin-right: 25px;
        margin-left: 25px;
    }

}


@media screen and (max-width: 780px)
{
    #form{
        width: 100%;
        display: block;
    }

    #formCover > div span {
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
    .animPlaceholderUp *{
        white-space: normal;
    }

}



