.validate-directive {
    margin: 10px 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.validate-directive > .validate-label{
    position: absolute;
    display: block;
    left: 0;
    top: 8px;
    font-size: 14px;
}

.validate-directive label.validateInvalid{
    color: #ff454f !important;
}

.validate-directive input{
    width: 100%;
}

.validate-directive input.validateInvalid{
    border-bottom: solid #ff454f 1px !important;
}

.validate-directive > .validate-info{
    display: none;
}

.validate-directive > .validate-info ul {
    list-style: none;
}

.validate-directive > .validate-info ul a{
    color: #828282;
    font-size: 12px;
    padding: 4px 0;
    position: relative;
}
.validate-directive > .validate-info ul a:before{
    content: "";
    position: absolute;
    left:-9px;
    top:10px;
    width: 5px;
    height: 1px;
    background-color: #828282;

}

.validate-directive .must{
    position: absolute;
    top:9px;
    left:-12px;
    color: #ff454f !important;
}


