.validate-directive {
    margin: 10px 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.validate-directive > .validate-label{
    position: absolute;
    display: block;
    top: 10px;
    left: 0;
}

.validate-directive label.validateInvalid{
    color: #ff454f !important;
}

.validate-directive input{
    width: 100%;
}

.validate-directive input.validateInvalid{
    border-bottom: solid #ff454f 1px !important;
}

.validate-directive > .validate-info{
    display: none;
}

.validate-directive > .validate-info ul {
    list-style: none;
}

.validate-directive .must{
    position: absolute;
    top:12px;
    left:-12px;
    color: #ff454f !important;
}


