<div>
    <div class="cell categoryLeft">
        <p class="filterCount roboto-light">{{filtered.length}} ITEMS</p>
        <label class="roboto-regular" >{{ 'FILTER_BY' | translate }} </label>
        <label class="roboto-regular clear" ng-click="clearSelection()" translate="Clear" ng-show="showClear"></label>
        <ul>
            <!--- Price Section-->
            <li>
                <h4 class="accordion roboto-regular arrowDown" id="accordionPrice"
                    ng-click="toggleColapse('accordionPrice')" >
                    {{'PRICE' | translate }}
                </h4>
                <div class="option" style="text-align: center;">
                    <div id="slider"></div>
                    <br />
                    <p class="sliderSteps left">{{minPriceToFilter | currency:'$'}}</p>
                    <p class="sliderSteps " >{{maxPriceToFilter | currency:'$'}}</p>
                </div>
            </li>
            <!--- Price Section -->
            <!--- attributes Section -->
            <li ng-repeat="attrib in categoryAttributes">
                <h4 class="accordion roboto-regular arrowDown" id="accordionAttrib{{$index}}"
                    ng-click="toggleColapse('accordionAttrib' + $index)" >
                    {{attrib.attributeName}}
                </h4>
                <div class="option" >
                    <div ng-repeat="attrVal in attrib.attributeValues" >
                        <div class="fill">
                            <input type="checkbox" ng-model="item.selected"
                                   ng-click="includeProducts($event, attrVal, attrib.attributeName)">
                            <span class="roboto-regular">{{attrVal}}</span>
                        </div>
                    </div>
                </div>
            </li>
            <!--- END attributes Section -->
            <!--- color Section -->
            <li>
                <h4 class="accordion roboto-regular arrowDown" id="accordionColor"
                    ng-click="toggleColapse('accordionColor')" >
                    {{'COLOR' | translate }}
                </h4>
                <div class="option" >
                    <div ng-repeat="color in productsColors" >
                        <a title="{{color.name}}" class="productColor " id="productsColors{{color.code}}"
                              ng-click="includeProducts($event, color, 'COLOR'); toggleColorSelectedClass(color.code)"
                              ng-style=" color.code == 'FFFFFF' ?
                              {'backgroundColor': '#' + color.code, 'border': 'solid 1px #9d9d9d' } :
                              {'backgroundColor': '#' + color.code, 'border': 'solid 1px transparent'}">
                            <!--- <label></label> -->
                        </a>
                    </div>
                </div>
            </li>
            <!--- END color Section -->
        </ul>
    </div>
    <div class="cell categoryRight">
        <ul>
            <li ng-repeat="product in products | productsFilter:minPriceToFilter:maxPriceToFilter:productsInclude"
                ng-click="gotoItem(product.productId)" >
                <div class="AddToCard">
                    <label> {{'SHOP_NOW' | translate}} </label>
                    <img alt="" src="../../css/images/cart_18x18.png"  />
                </div>
                <img alt="" class="imgProduct" ng-src="fetchImage?image_id={{product.imageUrl}}">
                <p><a>{{product.productName}}</a></p>
                <p><a class="productPrice">{{product.price | currency:"$"}}</a></p>
            </li>
        </ul>
    </div>
</div>






