

<div>
    <div class="cell categoryLeft">
        <p class="filterCount roboto-light">{{filtered.length}} ITEMS</p>
        <label class="roboto-regular" >{{ 'FILTER_BY' | translate }} </label>
        <label class="roboto-regular clear" ng-click="clearSelection()" translate="Clear" ng-show="showClear"></label>
        <ul>
            <li ng-repeat="attrib in categoryAttributes">
                <h4 class="accordion roboto-regular arrowDown"
                    ng-click="toggleColapse(attrib.attributeId)" >
                    {{attrib.attributeName}}
                </h4>
                <div class="option" >
                    <div ng-repeat="attrVal in attrib.attributeValues" style="display: inline-block"
                         ng-switch on="attrib.attributeName">
                        <span ng-switch-when="COLOR" class="productColor "
                              ng-click="includeProducts($event, attrVal, attrib.attributeName)"
                              ng-class="{ 'unknowColor' : $last }"
                              ng-style="{'backgroundColor': '#' + attrVal}">
                        </span>
                        <div ng-switch-default class="fill">
                            <input type="checkbox" ng-model="item.selected"
                                   ng-click="includeProducts($event, attrVal, attrib.attributeName)">
                            <span class="roboto-regular">{{attrVal}}</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="cell categoryRight">
        <ul>
            <li ng-repeat="product in filtered = ( products | filter:productsFilter)" ng-click="gotoItem(product.productId)" >
                <div class="AddToCard">
                    <label> {{'SHOP_NOW' | translate}} </label>
                    <img alt="" src="../../css/images/cart_18x18.png"  />
                </div>
                <img alt="" class="imgProduct" ng-src="fetchImage?image_id={{product.imageUrl}}">
                <p><a>{{product.productName}}</a></p>
                <p><a class="productPrice">{{product.price | currency:"$"}}</a></p>
            </li>
        </ul>
    </div>
</div>






