<div>
    <a class="must" ng-show="warnings.length > 0 && !noRedStar">*</a>

    <label class="validate-label"
           ng-class="{ validateInvalid : !textToShow.valid}"
           ng-click="validateLabelClicked(id)">
        {{textToShow.text}}
    </label>
    <input type="{{inputType}}" name="{{id}}" autocapitalize="off"
           autocomplete="off" autocorrect="off" class="inputtext"
           ng-class="{ validateInvalid : !textToShow.valid }"
           ng-hide="inputType == 'transclude'"
           ng-model="modelAttr"
           ng-focus="inputFocus(id)"
           ng-blur="inputBlur(id)"
           id="secInput_{{id}}" />


    <div ng-transclude ></div>

    <div class="validate-info" ng-show="warnings.length > 0">
        <ul>
            <li ng-repeat="info in warnings">
                <a>{{ ::info.info }}</a>
            </li>
        </ul>

    </div>
</div>
