
<footer>
    <div>
        <!-- FOLLOW US -->
        <h3 class="roboto-regular center">
            FOLLOW US <!-- {{'FOLLOW_US' | translate}} -->
        </h3>
        <div id="follow" class="center">
            <img src="css/images/facebook.png" alt="icon" />
            <img src="css/images/twitter.png" alt="icon" />
            <img src="css/images/linkedin.png" alt="icon" />
            <!--<div class="splitter"></div>-->
            <!--<img src="css/images/Pinterest.png" />-->
            <!--<img src="css/images/instegram.png" />-->
        </div>
        <label> © Advantage Inc, 2016. </label>
    </div>
</footer>






