
<div id="searchSection"
     data-ng-mouseenter="allowClosing = false"
     data-ng-mouseleave="allowClosingLeave()"
     data-ng-click="closeSearchSection()">
    <div id="input" data-ng-click="$event.stopPropagation()">
        <div id="search">
            <div icon-magnifying-glass data-ng-click="openSearchProducts()"></div>
            <div class="autoCompleteCover">
                <input id="autoComplete" type="text" class="roboto-regular"
                       placeholder="{{'Search' | translate }} Advantage.com"
                       data-ng-keypress="checkEnterKey($event)"
                       data-ng-model="autoCompleteValue"
                       data-ng-keyup="runAutocomplete()"
                       data-ng-blur="closeSearchSection()">
                <div icon-x data-ng-click="closeSearchSection(true)" ></div>
            </div>
        </div>
    </div>

    <div id="output" data-ng-show="autoCompleteResult.length > 0" >
        <div class="searchPopUp" data-ng-click="$event.stopPropagation()" >
            <div class="categories">
                <h3 class="roboto-medium" translate="CATEGORIES"
                    data-ng-mouseenter="searchByCategoryId(null, '')">
                </h3>
                <a href="#/category/{{categoryFilter}}?viewAll={{autoCompleteValue}}">
                    <label class="roboto-light"
                           data-ng-repeat="result in autoCompleteResult"
                           data-ng-mouseenter="searchByCategoryId(result.categoryId, result.categoryName)">
                        {{result.categoryName | lowercase}}
                    </label>
                </a>
            </div>
            <div class="top6Products">
                <h3 class="roboto-medium" >{{ 'TOP' | translate }} {{ 'RESULTS_FOR' | translate }}: "{{autoCompleteValue}}"
                    <p style="font-size: 11px !important; font-weight: 300 !important;" > {{ categoryName }} </p>
                </h3>
                <a href="#/category/{{categoryFilter}}?viewAll={{autoCompleteValue}}" translate="View_All"
                   class="roboto-medium viewAll"></a>
                <a class="product" href="#/product/{{product.productId}}"
                   data-ng-click="closeSearchSection()"
                   data-ng-repeat="product in [] | filterFullArrayforAutoComplate:autoCompleteResult:categoryFilter">
                    <img data-ng-src="/catalog/fetchImage?image_id={{product.imageUrl}}" />
                    <p class="roboto-regular">{{allowClosing}} {{product.productName | uppercase}}</p>
                    <span>{{product.price | currency:'$'}}</span>
                </a>
            </div>
        </div>
    </div>
</div>




