<nav class="pages">
    <a translate="HOME" href="#/"></a>
    <a class="select">{{release_version}} </a>
</nav>
<section style="position: relative">
    <article>
        <div style="position: relative">

            <div style="text-align: center; padding-top: 40px; padding-bottom: 30px; font-size:30px; letter-spacing: 2px; ">
                <a class="release_version" href="javascript:void(0)" role="link" class="img"
                   data-ng-click="login('versionSection')"
                   data-ng-mouseenter="miniTitleIn('versionSection')"
                   data-ng-mouseleave="miniTitleOut('versionSection')">{{release_version}} <img
                        style="vertical-align: middle" src="../../css/images/Down_arrow.svg"></a>

            </div>

            <div id="versionSection" class=mini_version_list>
                <label class="option" ng-click="getVersion('0')">VERSION 3.2</label>
                <label class="option" ng-click="getVersion('1')">VERSION 3.1</label>
                <label class="option" ng-click="getVersion('2')">VERSION 3.0</label>
                <label class="option" ng-click="getVersion('3')">VERSION 2.5</label>
                <label class="option" ng-click="getVersion('4')">VERSION 2.4</label>
                <label class="option" ng-click="getVersion('5')">VERSION 2.3</label>
                <label class="option" ng-click="getVersion('6')">VERSION 2.2</label>
                <label class="option" ng-click="getVersion('7')">VERSION 2.1</label>
                <label class="option" ng-click="getVersion('8')">VERSION 2.0</label>
                <label class="option" ng-click="getVersion('9')">VERSION 1.1.7</label>
               </div>
        </div>
    </article>
    <div version-content></div>
</section>
