
<article id="whats_new_section" style="padding-bottom: 56px">
    <div class="whats_new">What's New</div>

    <!--
    <div class="menu_side" ng-include="'app/user/views/menu-side.html'">
    </div>-->
    <div class="menu_side">

        <span class="menu_side_list"><a id="whats_new_link" class="a_menu_side" href="javascript:void(0)"
                                        role="link" ng-click="gotoElement('whats_new_section','whats_new_link')">WHAT'S NEW</a></span></br>
        <span class="menu_side_list"><a id="downloads_link" class="a_menu_side" href="javascript:void(0)"
                                        role="link"
                                        ng-click="gotoElement('download_mobile_apps', 'downloads_link')">DOWNLOAD</a></span></br>
        <span class="menu_side_list"><a id="installation_link" class="a_menu_side" href="javascript:void(0)"
                                        role="link" ng-click="gotoElement('installation', 'installation_link')">INSTALLATION</a></span></br>
        <span class="menu_side_list"><a id="admin_client_link" class="a_menu_side" href="javascript:void(0)"
                                        role="link" ng-click="gotoElement('admin_client', 'admin_client_link')">ADMIN CLIENT</a></span></br>
        <span class="menu_side_list"><a id="DockerConfiguration_link" class="a_menu_side" href="javascript:void(0)"
                                        role="link"
                                        ng-click="gotoElement('DockerConfiguration', 'DockerConfiguration_link')">DOCKER CONFIGURATION</a></span></br>
        <span class="menu_side_list"><a id="APIs_link" class="a_menu_side" href="javascript:void(0)" role="link"
                                        ng-click="gotoElement('APIs', 'APIs_link')">APIs</a></span>
    </div>

    <!-------------------- Mobile ----------------------->
    <span style="padding-bottom: 15px;
    overflow: hidden;
    display: table;
    padding-left: 30%;
    width: 45%;">In this release, we introduce a new type of deployment to AOS – using the latest Spring cloud architecture, we added 2 additional services: configuration service and gateway service.
</span>
    <span style="padding-bottom: 40px;
    overflow: hidden;
    display: table;
    padding-left: 30%;
    width: 45%;">This will improve accessibility by using a single endpoint. AOS configuration (changing log level, services location and more) can now be done from a single file
This release includes the following updates and enhancements:
</span>
    <div class="gather_left">

        <div class="whats_new_section_pic">
        </div>
        <div class="paragraph">
            <p class="whats_new_width_paragraph_60 padding_bottom_5_px">- The AOS gateway service acts as a load balancer. This means application access now occurs using a single endpoint.</p>
            <p class="whats_new_width_paragraph_60 padding_bottom_5_px">- The entire application configuration is managed inside the AOS configuration service. This means no more complicated changes to AOS services endpoints.</p>
            <p class="whats_new_width_paragraph_60 padding_bottom_5_px">- The account service artifact changed from war to jar. This means it can be deployed outside a web server (tomcat), inside a container, or in a full operating system.</p>
            <p class="whats_new_width_paragraph_60 padding_bottom_5_px">- The application log level configuration is now managed in a single file.</p>
            <p class="whats_new_width_paragraph_60 padding_bottom_5_px">- We made various network topology changes.</p>
            <p class="whats_new_width_paragraph_60 padding_bottom_5_px">- We upgraded to the services jars using the latest spring version. </p>
            <p class="whats_new_width_paragraph_60 padding_bottom_5_px">- We added an option to the build process to decide which type of deployment should be built (gateway or non-gateway).</p>
        </div>
    </div>


    <!-------------------- devops ----------------------->
    <div class="gather_left">

        <div class="whats_new_section_pic">
            <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66">
                <g>
                    <circle cx="33" cy="33" r="33" fill="#ce42f4"></circle>
                    <text x="50%" y="50%" fill="#fff" text-anchor="middle" dy=".35em" font-size="19px">UFT AI</text>
                    <title>UFT AI</title>
                </g>
            </svg>
        </div>
        <div class="paragraph">
            <p class="whats_new_width_paragraph_60 padding_bottom_5_px">- We improved the login module for better object identification.</p>
        </div>
    </div>

    <!-------------------- SAP ----------------------->
    <div class="gather_left">

        <div class="whats_new_section_pic mc_pic_padding">
            <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66">
                <g>
                    <circle cx="33" cy="33" r="33" fill="#ce42f4"></circle>
                    <text x="50%" y="50%" fill="#fff" text-anchor="middle" dy=".35em" font-size="15px">CyberRes</text>
                    <title>CyberRes</title>
                </g>
            </svg>
        </div>

        <div class="paragraph">
            <p class="whats_new_width_paragraph_90">- Integrated with Voltage Data Encryption, Purchases using Master Credit can be encrypted using voltage service.</p>
        </div>

    </div>



</article>

<!-------------------- Download Mobile Apps ----------------------->
<article id="download_mobile_apps">
    <div class="section_line section_line_padding">
        <div class="section_font">Download Mobile Apps</div>
        <div class="padding_bottom_60_px multiple_elements_overflow">

            <!-------------------- Download ios ----------------------->
            <div class="devices" style="float:left;" onclick="location.href='https://s3.amazonaws.com/aos-on-prem-downloads/3.0/Advantage+demo+3.0.ipa';">
                <div class="devices_pic">
                    <img src="../../css/images/AppleLogo.svg">
                </div>
                <div class="devices_inner_line">
                    <span>Download</span>
                    <span class="devices_font"><b>IOS</b></span>
                </div>
            </div>
            <!-------------------- Download android ----------------------->
            <div class="devices" onclick="location.href='https://s3.amazonaws.com/aos-on-prem-downloads/3.0/Advantage+demo+3.0.apk';">
                <div class="devices_pic">
                    <img src="../../css/images/Android_logo.svg">
                </div>
                <div class="devices_inner_line">
                    <span>Download</span>
                    <span class="devices_font"><b>Android</b></span>
                </div>
            </div>
        </div>

        <span>* Both are instrumented for AppPulse Mobile</span>
    </div>
</article>
<!-------------------- Installation ----------------------->
<article id="installation">
    <div class="section_line section_line_padding">
        <div class="section_font">Installation</div>


        <span class="padding_bottom_15_px">If you want your own instance, you can install it from Here:</span>

        <div class="multiple_elements_overflow">

            <!-------------------- ADM Market ----------------------->
            <div class="devices" onclick="window.open('https://marketplace.microfocus.com/appdelivery/content/advantage-online-shopping-aos-adm-demo-application')">
                <div class="devices_pic">
                    <img src="../../css/images/MicroFocus_logo_black.svg">
                </div>
                <div class="devices_inner_line" style="width: 145px">
                    <span>Get it from</span>
                    <span class="devices_font"><b>ADM Marketplace</b></span>
                </div>

            </div>

            <span class="installation_section_requirements"><b>SYSTEM REQUIREMENTS:</b></span>
            <span>Recommended OS: Windows 10, Windows 2016/19 server</span>
            <span>Hardware: 2 CPU and 4GB memory</span>

            <span class="installation_section_requirements"><b>PREREQUISITES:</b></span>
            <a class="color_turquoise" target="_blank" href="https://www.postgresql.org/download/windows/">- PostgresSQL version
                10.0.x or up</a>

            <div class="postgres_section">
                <span style="font-size: 15px">PostgresSQL User :</span>
                <span>User : postgres</span>
                <span>Password : admin</span>
            </div>

        </div>
    </div>
</article>

<!-------------------- Admin Client ----------------------->
<article id="admin_client">
    <div class="section_line section_line_padding">
        <div class="section_font">Admin Client</div>


        <span class="padding_bottom_15_px">Download Admin Client:</span>

        <div class="multiple_elements_overflow padding_bottom_60_px" >

            <!-------------------- ADM Market ----------------------->
            <div class="devices" style="width: 288px" onclick="location.href='https://aos-on-prem-downloads.s3.amazonaws.com/3.0/Advantage+demo+3.0.zip';">
                <div class="devices_pic">
                    <img src="../../css/images/DotNet.svg">
                </div>
                <div class="devices_inner_line">
                    <span>Download</span>
                    <span class="devices_font"><b>Admin Client</b></span>
                </div>
            </div>

        </div>

        <span>* Use it for tweaking the system</span>
    </div>
</article>

<!-------------------- Docker Configuration ----------------------->

<article id="DockerConfiguration">
    <div class="section_line section_line_padding">
        <div class="section_font">Docker Configuration</div>
        <span class="padding_bottom_15_px">Configure AOS locally with Docker (Ubuntu/Centos OS are supported) by running:</span>
        <span>git clone <a class="color_turquoise" target="_blank" href="https://github.com/aosapp/account-service.git">https://github.com/aosapp/account-service.git</a></span>
        <span style="padding-top: 20px; padding-down: 20px"><b>AOS installation:</b></span>
        <span>cd account-service/Nimbus_aos/aos_all_in_one/</span>
        <span>chmod +x startup.sh</span>
        <span>./startup.sh</span>
        <span style="padding-top: 20px; padding-down: 20px"><b>For the DevOps story:</b></span>
        <span>cd account-service/Nimbus_aos/aos_pipline/aos_all_in_one/</span>
        <span>chmod +x startup.sh</span>
        <span>./startup.sh</span>
        <span style="padding-top: 20px"><b>* Review and update the relevant fields in .env file (hidden file).</b></span>
        <span>&nbsp&nbspNote: For machines in Micro Focus network, don't forget to update the proxy fields.</span>
        <span>&nbsp&nbsp *Please make sure that the ports in .env file are open</span>
        <span>&nbsp&nbspRequires Docker Compose: <a class="color_turquoise" target="_blank" href="https://docs.docker.com/compose/install/#install-compose">https://docs.docker.com/compose/install/#install-compose</a></span>
        <span>&nbsp&nbspRequires Docker App: <a class="color_turquoise" target="_blank" href="https://github.com/docker/app#installation">https://github.com/docker/app#installation</a></span>

    </div>
</article>

<!-------------------- APIs  ----------------------->
<article id="APIs">
    <div class="section_line section_line_padding">
        <div class="section_font">APIs</div>
        <span style="display:block; padding-down: 20px"><b>REST:</b></span>
        <a class="color_turquoise" target="_blank" href="http://www.advantageonlineshopping.com/api/docs/">http://www.advantageonlineshopping.com/api/docs/</a>
        <span style="display:block; padding-top: 20px; padding-down: 20px"><b>SOAP:</b></span>
        <a class="color_turquoise"
           target="_blank"
           href="http://www.advantageonlineshopping.com/accountservice/accountservice.wsdl">http://www.advantageonlineshopping.com/accountservice/accountservice.wsdl</a>
        <a class="color_turquoise" href="http://www.advantageonlineshopping.com/ShipEx/shipex.wsdl">http://www.advantageonlineshopping.com/ShipEx/shipex.wsdl</a>
    </div>
</article>

<!-------------------- bottom ----------------------->
<article>
    <div class="section_line" style="padding-bottom: 15px">

        <div class="bottom_section">
            <div style="display: table-cell;width: 3%">
                <img src="../../css/images/Notice.svg" height="32px" width="27px">
            </div>
            <div class="paragraph" style="display: table-cell">

                <p class="color_grey">Please note that:</p>
                <p class="color_grey">- <a
                        class="color_turquoise" target="_blank" href="http://advantageonlineshopping.com">advantageonlineshopping.com</a> is our production server and as such, is updated with version 3.0.</p>
                <p class="color_grey">- <a
                        class="color_turquoise" target="_blank" href="http://54.157.232.206/#/">http://54.157.232.206/#/ </a> is our build server and as such, is updated nightly with the latest changes.</p>
                <p class="color_grey" style="line-height: 24px;">&nbsp&nbspFeel free to use both.</p>

            </div>
        </div>

    </div>
</article>
