.sec-input-validation {
    position: relative;
    display: block;
    padding-top: 27px;
}

.sec-input-validation label {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.sec-input-validation label,
.sec-input-validation input {
    width: 100%;
    display: block;
    padding: 6px 3px;
    font-size: 14px;
}

.sec-input-validation label {
    position: absolute;
    top: 27px;
    transition: all .8s ease, top .3s ease, transform .8s ease;
    transform-origin: 0;
    color: #313131;
}

.sec-input-validation label.animated {
    top: 10px;
    transform: scale(0.8, 1);
    padding: 0 3px;
    margin: 5px 0;
    transition: all .8s ease, transform .3s ease;
    color: rgb(130, 130, 130);
}

.sec-input-validation label.invalid {
    color: #ff454f;
}

.sec-input-validation input {
    margin: 0;
    outline: none;
    cursor: text;
    border: none;
    border-bottom: 1px solid #CECCCC;
    transition: border-bottom .8s ease;
}

.sec-input-validation input.invalid {
    border-bottom: 1px solid #ff454f;
}

.sec-input-validation ul {
    list-style: none;
    display: none;
}

.sec-input-validation ul li a {
    color: #828282;
    font-size: 12px;
    padding: 4px 0;
    text-decoration: none;
}


