
.myOrderSection .cover{
    margin: 0 auto;
    max-width: 1100px;
}

.myOrderSection .ordersTable{
    display: table;
    width: 100%;
}

.myOrderSection .orderRow{
    display: table-row;
    vertical-align:middle;
}

.myOrderSection .orderCell{
    display: table-cell;
    vertical-align:middle;
    box-shadow: 0 1px 0 0 #d0d0d0;
}

.myOrderSection .orderCellX3{
}

.myOrderSection .productCell{
    display: table-cell;
    width: calc(100% / 3);
}


.myOrderSection .orderCell label{
    display: block;
    color: #2a2a2a;
    text-align: center;
    padding: 12px;
}

.myOrderSection .orderRow.title .orderCell label{
    font-size: 11px;
}

.myOrderSection .orderRow.products .orderCell label{
    font-size: 16px;
}

.myOrderSection .orderCell label.alignleft{
    position: relative;
    text-align: left;
    box-shadow: 0 0 1px 0 green inset;
}

.myOrderSection .orderCell label.alignleft img{
    width: 80px;
}

.myOrderSection .elipse{
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.myOrderSection {
}

.myOrderSection {
}

.myOrderSection {
}

.myOrderSection {
}

.myOrderSection {
}

.myOrderSection {
}

.myOrderSection {
}

.myOrderSection {
}

.myOrderSection {
}

.myOrderSection {
}

.myOrderSection {
}



@media screen and (max-width: 1250px) {

    .myOrderSection .cover {
        background-color: lime;
    }

}
