<div>


    <div class="cell categoryLeft">

        <p class="filterCount">{{filtered.length}} ITEMS</p>
        <label class="roboto-medium">EXPLORE CHOICE:</label>
        <label class="roboto-medium" ng-click="clearSelection()">Clear</label>
        <ul>
            <li ng-repeat="attrib in categoryAttributes">
                <h4 class="roboto-regular">
                    <a id="panel-heading-a{{attrib.attributeId}}"
                       ng-click="toggleColapse(attrib.attributeId)">
                        {{'BY' | translate }} {{attrib.attributeName}}
                    </a>
                </h4>

                <div id="{{attrib.attributeId}}" ng-if="attrib.attributeName != 'COLOR'">
                    <div ng-repeat="attrVal in attrib.attributeValues">
                        <input type="checkbox" ng-model="item.selected"
                               ng-click="includeProducts($event, attrVal, attrib.attributeName)">
                        <span class="cr"><i></i>{{attrVal}}</span>
                    </div>
                    <div ng-repeat="attrVal in attrib.attributeValues">
                        <button type="button" ng-style="{'background-color' : '#' + attrVal}"
                                ng-click="includeProducts($event, attrVal, attrib.attributeName)">
                            <i></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="cell categoryRight">
        <ul>
            <li ng-repeat="product in filtered = ( products | filter:productsFilter)"
                ng-style="{ transitionDelay:($index *500) + 'ms' }">
                <div class="AddToCard">
                    <label>{{'ADD_TO_CART' | translate}}</label>
                    <img class="" src="css/images/Cart.jpg" />
                </div>
                <img alt="" class="imgProduct" ng-src="fetchImage?image_id={{product.imageUrl}}">

                <p><a>{{product.productName}}</a></p>
                <p><a>{{product.price}}</a></p>
            </li>
        </ul>
    </div>

</div>

