<div id="popular_items">
    <div class="row">
    <div class="col-xs-12 col-md-no-padding " style="font-size: 1.7vw;font-family: RobotoRegular; text-align: center;">
        <label class="home_page_section_title" style="font-weight: normal;">{{ 'POPULAR_ITEMS' | translate}}</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <img class="img-responsive" src="css/images/Popular-item3.jpg" style="margin: auto;"/>
    </div>

    <div class="col-xs-4">
        <img class="img-responsive" src="css/images/Popular-item2.jpg" style="margin: auto;" />
    </div>

    <div class="col-xs-4">
        <img class="img-responsive" src="css/images/Popular-item1.jpg" style="margin: auto;" />
    </div>
</div>
<div class="row" style="text-align: center;">
    <div class="col-xs-4 col-md-no-padding ">
        <div class="row">
            <div class="col-xs-12 col-md-no-padding ">
                <label>AAA</label>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-no-padding ">
        <div class="row">
            <div class="col-xs-12 col-md-no-padding ">
                <label>BBB</label>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-no-padding ">
        <div class="row">
            <div class="col-xs-12 col-md-no-padding ">
                <label>CCC</label>
            </div>
        </div>
    </div>
</div>
</div>