<div style="background-color: #F4F4F2;">
    <div class="row">
        <div class="col-xs-12 col-md-no-padding roboto-regular" style="text-align: center;margin-top: 2%;font-size: 1.7vw;">
            <label class="home_page_section_title roboto-regular" style="font-weight: normal;">{{ 'FOLLOW_US' | translate }}</label>
        </div>
    </div>
    <div class="col-xs-12 col-md-no-padding" style="padding-top: 3%"></div>
    <div class="row">
        <div class="col-xs-4 col-md-no-padding">
        </div>
        <div class="col-xs-1 col-md-no-padding">
            <img class="img-responsive" src="css/images/facebook.jpg" style="    margin: auto;"/>
        </div>
        <div class="col-xs-1 col-md-no-padding">
            <img class="img-responsive" src="css/images/twitter.jpg" style="    margin: auto;"/>
        </div>
        <div class="col-xs-1 col-md-no-padding">
            <img class="img-responsive" src="css/images/Pinterest.jpg" style="    margin: auto;"/>
        </div>
        <div class="col-xs-1 col-md-no-padding">
            <img class="img-responsive" src="css/images/instegram.jpg" style="    margin: auto;"/>
        </div>
        <div class="col-xs-4 col-md-no-padding">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-no-padding" style="padding-top: 3%"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-no-padding" style="text-align: center">
            <label>{{ 'LEGALS_FOOTER' | translate }}</label>
        </div>
    </div>
</div>