<scroll-to-top></scroll-to-top>

<section>

    <!--  five pictures  -->
    <article id="our_products">
        <div class="container ">

            <div class="rowSection">
                <div ng-click="redirect('/category/' + categories[3].categoryId)" class="SpeaakersImg"
                     a-sec-back-img="{{categories[3].managedImageId}}" >
                    <div>
                        <span class="shop_now roboto-bold">{{::categories[3].categoryName}}</span>
                        <label class="shop_nowSub roboto-regular">{{ 'Shop_Now' | translate  }} </label>
                    </div>
                </div>
                <div ng-click="redirect('/category/' + categories[2].categoryId)"
                     a-sec-back-img="{{categories[2].managedImageId}}">
                    <div>
                        <span class="shop_now">{{::categories[2].categoryName}}</span>
                        <label class="shop_nowSub roboto-regular">{{ 'Shop_Now' | translate }} </label>
                    </div>
                </div>
                <div class="emptyCell">
                </div>
            </div>

            <div class="rowSection">
                <div ng-click="redirect('/category/' + categories[0].categoryId)" class="laptopImg"
                     a-sec-back-img="{{categories[0].managedImageId}}" >
                    <div>
                        <span class="shop_now" > {{::categories[0].categoryName}}</span>
                        <label class="shop_nowSub roboto-regular">{{ 'Shop_Now' | translate }} </label>
                    </div>
                </div>
                <div ng-click="redirect('/category/' + categories[4].categoryId)" class="micesImg"
                     a-sec-back-img="{{categories[4].managedImageId}}" >
                    <div>
                        <span class="shop_now">{{::categories[4].categoryName}}</span>
                        <label class="shop_nowSub roboto-regular">{{ 'Shop_Now' | translate }} </label>
                    </div>
                </div>
                <div ng-click="redirect('/category/' + categories[1].categoryId)" class="twoRows"
                     a-sec-back-img="{{categories[1].managedImageId}}">
                    <div>
                        <span class="shop_now">{{::categories[1].categoryName}}</span>
                        <label class="shop_nowSub">{{ 'Shop_Now' | translate }} </label>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- end five pictures -->



    <!-- SPACIAL OFFER -->
    <article id="special_offer_items" >
        <h3 class="roboto-regular center" >
            {{'SPACIAL_OFFER' | translate}}
        </h3>
        <div>
            <div id="img-special-offer">
                <figure>
                    <img src="css/images/Special-offer.jpg" alt="Special-offer" >
                </figure>
            </div>
            <div id="div-special-offer">
                <div>
                    <span class="roboto-light"> {{specialOffer[0].promotionHeader}} </span>
                    <h1 class="roboto-thin" > {{specialOffer[0].product.productName}} </h1>
                    <p> {{specialOffer[0].promotionSubHeader}} </p>
                    <a href="#/product/{{specialOffer[0].product.id}}"><button> {{ 'SEE_OFFER' | translate}} </button></a>
                </div>
            </div>
        </div>
    </article>

    <!-- end SPACIAL OFFER -->




    <!-- check directive -->







    <!-- slider -->
    <article>
        <div class="slider">
            <div class="slider-length transition">
                <div ng-repeat="img in images" class="imgSection" >
                    <div class="imgContainer">
                        <img data-ng-src="../../css/images/{{img.imageName}}" ng-click="goToCategory(img.imageId)"  />
                    </div>
                    <div class="container">
                        <h2 ng-bind-html='img.message | trustHtml' class="roboto-light"></h2>
                        <button ng-click="goToCategory(categories[img.categoryId].categoryId)" >{{ 'EXPLORE_NOW' | translate}}</button>
                    </div>
                </div>
                <div class="imgSection" >
                    <div class="imgContainer">
                        <img data-ng-src="../../css/images/{{images[0].imageName}}"
                             ng-click="goToCategory(images[0].imageId)" />
                    </div>
                    <div class="container">
                        <h2 class="roboto-light">{{images[0].message}}</h2>
                        <button ng-click="goToCategory(categories[0].categoryId)"  class="white">{{ 'EXPLORE_NOW' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="slider-steps" >
                <span ng-repeat="img in images" ng-class="{selected : ({{img.imageId === 0}})}"></span>
            </div>
        </div>
    </article>
    <!-- end slider -->












    <!-- POPULAR ITEMS
    <popular-items-drtv popular-products="popularProducts"></popular-items-drtv>
    -->

    <article id="popular_items">
        <h3 class="roboto-regular center" translate="POPULAR_ITEMS"></h3>
        <div class="grid-table center">
            <div ng-repeat="product in popularProducts" ng-if="popularProducts.length > 0">
                <figure>
                    <img data-ng-src="{{product.imageUrl}}" alt="Special-offer" >
                </figure>
                <p class="center productName roboto-medium">{{product.productName | uppercase}}</p>
                <a href="#/product/{{product.id}}"><label class="shop_nowSub viewDetail " translate="View_details"></label></a>
            </div>
        </div>
    </article>
    <!-- end POPULAR ITEMS -->

</section>





<social-media-drtv></social-media-drtv>




