<!--

<section id="png">
    <img src="../../css/images/product.png" />
</section>

<style>
    #png{
        top:-10px;
    }
</style>

<nav class="pages">
    <h1><a ng-repeat="link in breadcrumb" href="{{link.path}}">{{link.name}}{{link.path}}</a></h1>
</nav>

-->

<nav class="pages">
    <a translate="HOME" href="/#" ></a>
    <a href="#/category/{{product.categoryId}}" > {{categoryName}} </a>
    <a class="select">{{::product.productName | uppercase}}</a>
</nav>

<section>
    <article class="max-width ">

        <!-- image section -->
            <div id="product-image">
                <figure>
                    <img alt="" id="imgToBuy" a-sec-src="{{::product.imageUrl}}"">
                </figure>
                <div id="cover" ng-if="product.images.length > 1">
                    <div id="length">
                        <div class="imageAlias" ng-repeat="img in product.images">
                            <img alt="" a-sec-src="{{::img}}">
                        </div>
                    </div>
                </div>
            </div>
            <!-- end image section -->



            <!-- description section -->
        <div id="description">
            <h1 class="roboto-regular" > {{::product.productName | uppercase}} </h1>
            <h2 class="roboto-thin"> {{::product.price | currency:'$'}} </h2>
            <p class="roboto-light"> {{::product.description }} </p>
        </div>
        <div id="productProperties">
            <div class="colors" ng-if="product.colors.length > 0">
                <h2 translate="Color" class="Colors roboto-light" class="roboto-light" ></h2>
                <span data-ng-repeat="color in product.colors" class="productColor"
                      data-ng-style=" color.code == 'FFFFFF' ?
                              {'backgroundColor': '#' + color.code, 'border': 'solid 1px #9d9d9d' } :
                              {'backgroundColor': '#' + color.code, 'border': 'solid 1px transparent'}"
                      data-ng-class='{ colorSelected : colorSelected.name == color.name } '
                      data-ng-click="setColor(color)" >
                            <label>{{color.name}}</label>
                </span>
            </div>
            <br />
            <label class="Quantity roboto-light" translate="Quantity:" ></label>
            <select ng-model="quantity" ng-options="item for item in quantityOptions" ></select>
            <br />
            <button class="roboto-medium" translate="ADD_TO_CART"  ng-click="addToCart()"> </button>
        </div>
        <!-- end description section -->

    </article>

    <article class="max-width " data-ng-class="{ topSpace : product.images.length > 1 }" >
        <h2 class="roboto-regular product_specifications" translate="PRODUCT_SPECIFICATIONS"></h2>
        <div class="roboto-light list" ng-repeat="attr in product.attributes">
            <label class="attr">{{ attr.attributeName | uppercase}}</label>
            <label class="value">{{ attr.attributeValue }}</label>
        </div>
    </article>
</section>


<social-media-drtv></social-media-drtv>