

<section>
    <article id="searchPage" ng-switch="noProducts">
        <search mobile-search ></search>
        <!--<div>
            <nav class="pages categoryDataFixedNav"  data-ng-class="{ fixedImportant : viewAll }">
                <a translate="HOME" href="#/" ></a>
                <a class="select "> {{categoryName}} </a>
            </nav>
        </div>-->

        <div>
            <nav class="pages categoryDataFixedNav"  data-ng-class="{ fixedImportant : viewAll }">
                <a translate="HOME" href="#/" ></a>
                <a class="select "> {{categoryName}} </a>
            </nav>
        </div>

        <h3 class="roboto-regular center sticky fixedImportant" > {{ searchKey }} </h3>

        <!--data-ng-show="categoryData.promotedProduct == null"-->
        <div class="noPromotedProductDiv">
            <div ng-switch-when="true">
                <label style="display: block; text-align: center; color:black; font-size: 100px">
                    No products!
                </label>
            </div>
            <div ng-switch-when="false">
                <div class="category-type-products"
                     category-type-products-drtv
                     params-to-pass="paramsToPass"
                ></div>
            </div>
            <social-media-drtv></social-media-drtv>
        </div>
    </article>
</section>

