<!--

<div id="png">
    <img src="../../css/images/mariaDesigns/cart/cart.png" alt="img" >
</div>
-->


    <section>
        <article class="sp">

        <nav class="pages fixedImportant " style="top:65px">
            <a translate="HOME" href="#/" ></a>
            <a class="select "> {{ 'SHOPPING_CART' | translate }}</a>
        </nav>

        <h3 class="roboto-regular center sticky fixedImportant" >
            {{'SHOPPING_CART' | translate}} ({{cart.productsInCart.length}})
        </h3>

        <div id="shoppingCart">

            <table>
                <thead>
                <tr>
                    <th class="imgHeader">
                    </th>
                    <th>
                        <label class="roboto-light">
                            {{'PRODUCT_NAME' | translate}}
                        </label>
                    </th>
                    <th class="smollCell">
                        <label class="roboto-light">
                            {{'COLOR' | translate}}
                        </label>
                    </th>
                    <th class="smollCell quantity">
                        <label class="roboto-light">
                            {{'QUANTITY' | translate}}
                        </label>
                    </th>
                    <th class="smollCell">
                        <label class="roboto-light">
                        {{'PRICE' | translate}}
                        </label>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in cart.productsInCart track by $index">
                    <td>
                         <img class="imageUrl" ng-src="/catalog/fetchImage?image_id={{product.imageUrl}}"  alt="imgProduct" />
                    </td>
                    <td>
                        <label class="roboto-regular productName">{{product.productName | uppercase}}</label>
                    </td>
                    <td class="smollCell">
                        <label class="roboto-light mobileViewer">
                            {{'COLOR' | translate}}:
                        </label>
                        <span ng-style="product.color.code != 'FFFFFF' ? {'backgroundColor': '#' + product.color.code, 'border': 'none 0px white'} : { 'backgroundColor': '#' + product.color.code }" class="productColor"></span>
                    </td>
                    <td class="smollCell quantityMobile" >
                        <label class="roboto-light mobileViewer">
                            {{'QUANTITY' | translate}}:
                        </label>
                        <e-sec-plus-minus num-attr="product.quantity" update-product-attr="saveCart()" ></e-sec-plus-minus>
                    </td>
                    <td class="smollCell">
                        <label class="roboto-light mobileViewer">
                            {{'PRICE' | translate}}:
                        </label>
                        <p class="price roboto-regular">
                            {{ (product.price * product.quantity) | currency:'$' }}
                        </p>
                        <span class="actions">
                            <a class="remove" href="#/product/{{product.productId}}?color={{product.color.code}}&quantity={{product.quantity}}&pageState=edit">{{ 'EDIT' | translate }}</a>
                            <a class="separator">|<a> <a class="remove" data-ng-click="removeProduct($index)">{{ 'REMOVE' | translate }}</a>
                        </span>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="icons">
                        <label>{{'PAYMENT_OPTIONS'  | translate}}: </label>
                        <ul>
                            <li><span id="masterCard"></span></li>
                            <li><span id="visa">VISA</span></li>
                            <li><span id="discover"> DISCOVER </span></li>
                            <li><span id="paypal"> Pay </span></li>
                        </ul>
                    </td>
                    <td colspan="2">
                        <span class="roboto-light" >{{'TOTAL' + ': ' | translate}}</span>
                        <span class="roboto-medium" >{{cart | productsCartSum | currency:'$'}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <button class="roboto-medium" data-ng-click="checkout()">{{'CHECKOUT' | translate}}</button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>


    </article>
</section>

<social-media-drtv></social-media-drtv>


