
<style>
    section{
        width: 800px;
        height: 800px;
        padding: 50px;
        border: solid #dcfef7;
        margin: 0 auto;
    }
</style>


<section>
    <article>

        <sec-input-validation>
            
        </sec-input-validation>
    </article>
</section>


<!--
<nav class="pages">
    <a translate="HOME" href="#/"></a>
    <a class="select" translate="SUPPORT"> </a>
</nav>


<section>
    <article>
        <div data-ng-hide="supportSuccess">
            <h3 class="roboto-regular sticky fixedImportant fixed" translate="SUPPORT"></h3>


            <div id="supportCover">


                <sec-validate>

                    <sec-input sec-placeholder="{{'Category' | translate }}"
                               id-attr="Category"
                               sec-siblings="Product"
                               input-type-attr="transclude"
                               select-tag="true" >
                        <select class="inputtext" ng-change="categoryChange()"
                                ng-model="supportModel.category"
                                ng-options="category.categoryName for category in categories track by category.categoryId">
                        </select>
                    </sec-input>


                    <sec-input sec-placeholder="{{'Product' | translate }}"
                               id-attr="Product"
                               input-type-attr="transclude"
                               select-tag="true" >
                        <select class="inputtext"
                                ng-model="supportModel.product" ng-change="productChange()"
                                ng-options="p.productName for p in products" >
                        </select>
                    </sec-input>


                    <sec-input sec-placeholder="{{'Email' | translate}}"
                               sec-required="{{'Email' | translate}} {{'field_is_required' | translate}}"
                               model-attr="supportModel.email"
                               id-attr="text">
                    </sec-input>


                    <sec-textarea sec-t-placeholder="{{'Subject' | translate }}"
                                  sec-t-required="{{'Subject' | translate}} {{'field_is_required' | translate}}"
                                  model-attr="supportModel.subject"
                                  id-attr="Subject">
                    </sec-textarea>

                    <div class="buttonCover">
                        <button sec-submit-attr="sendSupportEmail()"
                                class="roboto-medium sec-validate-invalid"
                                a-sec-validate-invalid
                        >{{'SEND' | translate}}</button>
                    </div>

                    <label class="{{registerAnswer.class}} invalid center"> {{registerAnswer.message}} </label>

                </sec-validate>
            </div>
        </div>

        <div id="registerSuccessCover" data-ng-show="supportSuccess">
            <div class="center">
                <p class="roboto-regular successMessage">
                    {{ registerAnswer.message }}
                </p>
                <br/>
                <a class="a-button" href="/"> {{ 'CONTINUE_SHOPPING' | translate}} </a>
            </div>
        </div>

    </article>
</section>


<social-media-drtv></social-media-drtv>


        -->

















