
@import "animation.css";
@import "views/home_page.css";
@import "views/categoryPage.css";
@import "views/category_type_products_tpl.css";
@import "views/productPage.css";
@import "modals/popUp.css";
@import "../app/user/css/login.css";
@import "../app/user/css/register.css";
@import "UI.css";

#png{
    position: absolute;
    z-index: 90000;
    top:0;
    opacity: 0.39;
}

/*@import "modal.css";*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    outline: none;
}


body{
    position: relative;
    left: 0;
    overflow-x: hidden;
}


/* start mobile button */

div.mobile-btn-handler {
    padding: 5px 0;
    margin: 10px ;
    border-radius: 4px;
    display: inline-block;
    border: solid 1px #ddd;
    display: none;
}

div.mobile-btn-handler:hover {
    background-color: #ddd;
}

div.mobile-btn-handler span{
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    margin: 3px 10px;
    background-color: #888;
}

#mobile-section{
    background-color: #e7e7e7;
    position: absolute;
    left: 9999px;
}

#mobile-section img{
    margin: 20px;
}
/* end mobile button */




/* navagation */

nav ul {
    float: right;
    display: inline-block;
    margin: 7px 0;
}

nav ul li {
    display: inline-block;
    vertical-align: top;
}

nav ul li a{
    font-size:16px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    padding:9px;
}

nav ul li a.menu{
    padding:10px 66px;
}

nav ul li:nth-child(3) a.menu{
    padding-right: 53px;
}

nav ul li a:not(.img){
    opacity: .8;
    padding:15px 18px;
}

nav ul li a:not(.img):hover{
    opacity: 1;
}

nav .img {
    position: relative;
    top:4px;
}

nav .img > img {
    height: 25px;
}
nav .img > .hi-user{
    font-size: 23px;

}


div.logo img{
    vertical-align: top;
    padding: 10px 25px ;
}

#product_search{
    display:none;
    position: relative;
    bottom: 7px;
    right: 10px;
    width:0px;
}

/* end navagation */






/* scrolling page to top  */

#scrollToTop{
    position: fixed;
    margin: 70px 20px;
    bottom: 0;
    right: 0;
    opacity: .8;
    transition: all 1s ease;
    display: none;
    z-index: 9999;
    border-radius: 100%;
}

#scrollToTop p{
    transform:scale(0.8);
    bottom: -100px;
    position: relative;

}


#scrollToTop:hover{
    opacity: 1;
}

/* end scrolling page to top  */



.cell{
    display: table-cell;
}


@media screen and (max-width: 1100px)
{
    .desktop-handler{
        display: none;
    }
    .mobile-btn-handler{
        display: none;
    }
    div.logo img{
        vertical-align: top;
        padding: 4px 0;
    }
    div.mobile-btn-handler{
        display: inline-block;
    }
}




