@import "jPushMenu.css";
@import "button.css";
@font-face {
    font-family: RobotoBlack;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(fonts/Roboto-Regular.ttf);
}
body {
    height: 1366px;
    /*padding-top: 70px;*/
}
.page{
    min-height: 400px;
}

footer{
    margin-top:50px;
    padding-top:50px;
}

.toolbar{
    margin:10px;
}
.row-no-gutter {
    margin-right: 0;
    margin-left: 0;
}
.col-md-no-padding{
    padding-left: 0;
    padding-right: 0;
}
.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
}
.inner-image{
    background: gray;
}
.promotion-content{
    top: 20%;
    left: 25%;
    position: absolute;
    color: white;
}
.home_page_label_container{
    position: absolute;
    padding-top: 78%;
    font-size: 1.7vw;
    padding-left: 5%;
    font-family: RobotoRegular;

}
label{
    font-weight: normal;
}
.home_page_bg_with_txt{
    font-family: RobotoBlack;
    background-size: 62%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-color: #E6E6E6;
}
.row{
    margin-right: 0px;
}
.searchbox{
    position:relative;
    height:50px;
    width:100%;
    float:right;
}
.collapse.navbar-collapse.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left.cbp-spmenu-open > ul > li.hidden_item{
    display: none;
}
/*a.btn, button{
    min-width: 100px !important;   
}*/
