@import "jPushMenu.css";
@import "button.css";
@import "category-hover.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
body {
    height: 1366px;
    /*padding-top: 70px;*/
}
.page{
    min-height: 400px;
}

footer{
    margin-top:50px;
    padding-top:50px;
}

.toolbar{
    margin:10px;
}
.row-no-gutter {
    margin-right: 0;
    margin-left: 0;
}
.col-md-no-padding{
    padding-left: 0;
    padding-right: 0;
}
.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
}
.inner-image{
    background: gray;
}
.promotion-content{
    top: 20%;
    left: 25%;
    position: absolute;
    color: white;
}
.home_page_label_container{
    position: absolute;
    padding-top: 78%;
    padding-left: 5%;
}
.home_page_label_container label, .products_cursor_pointer{
    cursor: pointer;
}
.home_page_cat_title{
    font-family: RobotoBold;
    font-size: 1.15vw;
    color: #2a2a2a;
}

.home_page_cat_sub_title{
    font-family: RobotoRegular;
    font-size: 0.9vw;
}
.home_page_section_title{
    font-size: 1.46vw;
    font-family: RobotoRegular;
    color: #2a2a2a;
}
.txt_green_color{
    color: #54b3ad;
}
label{
    font-weight: normal;
}
.home_page_bg_with_txt{
    font-family: RobotoBlack;
    background-size: 62%;
    background-repeat: no-repeat;
    background-position-x: 100%;
}
.row{
    margin-right: 0px;
}
.searchbox{
    position:relative;
    height:50px;
    width:100%;
    float:right;
}
.collapse.navbar-collapse.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left.cbp-spmenu-open > ul > li.hidden_item{
    display: none;
}
.product_div_gradient{
    background: rgba(232,231,226,1);
    background: -moz-linear-gradient(top, rgba(232,231,226,1) 0%, rgba(242,241,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,231,226,1)), color-stop(100%, rgba(242,241,237,1)));
    background: -webkit-linear-gradient(top, rgba(232,231,226,1) 0%, rgba(242,241,237,1) 100%);
    background: -o-linear-gradient(top, rgba(232,231,226,1) 0%, rgba(242,241,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(232,231,226,1) 0%, rgba(242,241,237,1) 100%);
    background: linear-gradient(to bottom, rgba(232,231,226,1) 0%, rgba(242,241,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e2', endColorstr='#f2f1ed', GradientType=0 );
}
/*a.btn, button{
    min-width: 100px !important;   
}*/
