
<nav class="pages fixed fixedImportant">
    <a translate="HOME" href="#/" ></a>
    <a class="select" translate="MY_ACCOUNT"></a>
</nav>

<section>
    <article >
        <h3 class="roboto-regular sticky fixed fixedImportant" translate="MY_ACCOUNT"></h3>

        <div id="myAccountContainer">

            <!--ACCOUNT DETAILS SECCION-->
            <div class="cube">
                <h3 class="blueLink">
                    {{ "Account_Details" | translate }}
                    <a class="floatRigth" href="#/accountDetails">
                        {{ "Edit" | translate }}
                    </a>
                </h3>
                <div class="borderBox">
                    <div>
                        <div class="floatRigth">
                            <div icon-user-svg ></div>
                        </div>
                        <label>
                            {{accountDetails.firstName}} {{accountDetails.lastName}}
                        </label>
                    </div>
                    <div class="middle">
                        <div class="floatRigth">
                            <div icon-home></div>
                        </div>
                        <label data-ng-hide="accountDetails.homeAddress == ''"> {{accountDetails.homeAddress}} </label>
                        <label data-ng-hide="accountDetails.cityName == ''"> {{accountDetails.cityName}} </label>
                        <label data-ng-hide="accountDetails.countryName == ''"> {{accountDetails.countryName}} </label>
                        <label data-ng-hide="accountDetails.stateProvince == ''"> {{accountDetails.stateProvince}} </label>
                        <label data-ng-hide="accountDetails.zipcode == ''"> {{accountDetails.zipcode}} </label>
                    </div>
                    <div>
                        <div class="floatRigth">
                            <div icon-phone></div>
                        </div>
                        <label> {{accountDetails.mobilePhone}} </label>
                    </div>
                </div>
            </div>
            <!--ACCOUNT DETAILS SECCION-->



            <!-- NO SHIPPING DETAILS TO SHOW SECCION-->
            <div class="cube" data-ng-show="shippingDetails == null">
                <h3 class="blueLink">
                    {{ "Shipping_Details" | translate }}
                    <!--<a class="floatRigth" >-->
                        <!--{{ "Edit" | translate }}-->
                    <!--</a>-->
                </h3>
                <div class="borderBox">
                    <div>
                        <div class="floatRigth">
                            <div icon-user-svg ></div>
                        </div>
                        <label>
                            {{accountDetails.firstName}} {{accountDetails.lastName}}
                        </label>
                    </div>
                    <div class="middle">
                        <div class="floatRigth">
                            <div icon-home></div>
                        </div>
                        <!--<label> HPE Software (building M3) </label>-->
                        <label data-ng-hide="accountDetails.homeAddress == ''"> {{accountDetails.homeAddress}} </label>
                        <label data-ng-hide="accountDetails.cityName == ''"> {{accountDetails.cityName}} </label>
                        <label data-ng-hide="accountDetails.countryName == ''"> {{accountDetails.countryName}} </label>
                        <label data-ng-hide="accountDetails.stateProvince == ''"> {{accountDetails.stateProvince}} </label>
                        <label data-ng-hide="accountDetails.zipcode == ''"> {{accountDetails.zipcode}} </label>
                    </div>
                    <div>
                        <div class="floatRigth">
                            <div icon-phone></div>
                        </div>
                        <label> {{accountDetails.mobilePhone}} </label>
                    </div>
                </div>
            </div>
            <!--END NO SHIPPING DETAILS TO SHOW SECCION-->




            <!--SHIPPING DETAILS SECCION-->
            <div class="cube" data-ng-hide="shippingDetails == null">
                <h3 class="blueLink">
                    {{ "Shipping_Details" | translate }}
                    <!--<a class="floatRigth">-->
                    <!--{{ "Edit" | translate }}-->
                    <!--</a>-->
                </h3>
                <div class="borderBox">
                    <div>
                        <div class="floatRigth">
                            <img src="css/images/User.jpg">
                        </div>
                        <label>
                            {{accountDetails.firstName}} {{accountDetails.lastName}}
                        </label>
                    </div>
                    <div class="middle">
                        <div class="floatRigth">
                            <div icon-home></div>
                        </div>
                        <label data-ng-hide="shippingDetails.address_line1 == ''"> {{shippingDetails.address_line1}} </label>
                        <label data-ng-hide="shippingDetails.address_line2 == ''"> {{shippingDetails.address_line2}} </label>
                        <label data-ng-hide="shippingDetails.country == ''"> {{shippingDetails.country}} </label>
                        <label data-ng-hide="shippingDetails.state == ''"> {{shippingDetails.state }} </label>
                        <label data-ng-hide="shippingDetails.postalCode == ''"> {{shippingDetails.postalCode}} </label>
                    </div>
                    <div>
                        <div class="floatRigth">
                            <div icon-phone ></div>
                        </div>
                        <label> {{accountDetails.mobilePhone}} </label>
                    </div>
                </div>
            </div>
            <!--SHIPPING DETAILS SECCION-->




            <!--PREFERRED PAYMENT METHOD DETAILS SECCION-->
            <div class="cube">
                <h3 class="blueLink">
                    {{ userSecondWsdl ? "Preferred_payment_method2" : "Preferred_payment_method" | translate }}
                    <a class="floatRigth" href="#/accountPaymentEdit">
                        {{ "Edit" | translate }}
                    </a>
                </h3>
                <div class="paymentBox" data-ng-show="masterCredit == null">
                    <label class="mastercart" style="width: 100%; text-align: center; box-sizing: border-box">
                        MasterCredit not found
                    </label>
                </div>
                <div class="paymentBox"  data-ng-hide="masterCredit == null">
                    <img src="css/images/Master_credit.png">
                    <label class="mastercart">{{'MasterCredit' | translate}}</label>
                    <span>****</span>
                    <span>****</span>
                    <span>****</span>
                    <span>{{masterCredit}}</span>
                </div>
            </div>
            <!--END PREFERRED PAYMENT METHOD DETAILS SECCION-->




            <!--NOTIFY ME ABOUT PROMOTIONS SECCION-->
            <div class="cube">
                <h3 class="blueLink">
                    {{'Categories'| translate}}
                    <!--<a class="floatRigth" href="#/">-->
                        <!--{{ "Edit" | translate }}-->
                    <!--</a>-->
                </h3>
                <div class="categoriesBox" data-ng-class="{ disableBox : !accountDetails.allowOffersPromotion }">
                    <div class="categoriesCheckboxes" >
                        <div class="option" data-ng-repeat="cat in categoriesPromotions track by $index">
                            <input type="checkbox" data-ng-model="cat.categoryValue">
                            <span> {{ cat.categoryName }} </span>
                        </div>
                    </div>
                </div>

                <div class="option notPromotionCheckbox">
                    <input type="checkbox"
                           data-ng-model="accountDetails.allowOffersPromotion"
                           data-ng-click="allowOffersPromotionChanged()">
                    <span> {{ "Notify_me_about_Promotions" | translate }} </span>
                </div>
            </div>
            <!--END NOTIFY ME ABOUT PROMOTIONS SECCION-->


        </div>

    </article>
</section>




<social-media-drtv></social-media-drtv>







<!--<section>-->
    <!--<article>-->
        <!--<div id="registerCover">-->
            <!--<h3 class="roboto-regular" translate="CREATE_ACCOUNT"></h3>-->
            <!--<div id="infoDemo">-->
                <!--<div class="notice">-->
                    <!--<h4 translate="NOTICE" ></h4>-->
                    <!--<p class="roboto-light" translate="This_is_a_demo"></p>-->
                    <!--<p class="roboto-light" translate="Please_enter_a_fake_data"></p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div id="form">-->

                <!--<sec-validate>-->
                    <!--<div id="formCover">-->

                        <!--<div>-->
                            <!--<h3 translate="ACCOUNT_DETAILS"></h3>-->

                            <!--<sec-input sec-placeholder="{{'User_name' | translate}}"-->
                                       <!--sec-required="{{'User_name' | translate}} {{'field_is_required' | translate}}"-->
                                       <!--sec-min-length="5"-->
                                       <!--sec-max-length="15"-->
                                       <!--sec-pattern="^[A-Za-z0-9_.-]{0,999}$"-->
                                       <!--pattern-error-attr="{{ 'Use_letters_number_and_the_following_symbols_only' | translate }}"-->
                                       <!--model-attr="model.username"-->
                                       <!--id-attr="username" >-->
                            <!--</sec-input>-->


                            <!--<sec-input sec-placeholder="{{'Email' | translate}}"-->
                                       <!--sec-required="{{'Email' | translate}} {{'field_is_required' | translate}}"-->
                                       <!--sec-email-->
                                       <!--input-type-attr="email"-->
                                       <!--model-attr="model.email"-->
                                       <!--id-attr="email">-->
                            <!--</sec-input>-->


                            <!--<sec-input sec-placeholder="{{'Password' | translate}}"-->
                                       <!--sec-required="{{'Password' | translate}} {{'field_is_required' | translate}}"-->
                                       <!--sec-min-length="4"-->
                                       <!--sec-pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{0,12})"-->
                                       <!--pattern-error-attr="{{ 'Use_up_to_12_characters_Include_at_least_one_letter_and_one_number' | translate }}"-->
                                       <!--input-type-attr="password"-->
                                       <!--model-attr="model.password"-->
                                       <!--id-attr="password">-->
                            <!--</sec-input>-->


                            <!--<sec-input sec-placeholder="{{'Confirm_password' | translate}}"-->
                                       <!--sec-required="{{'Confirm_password' | translate}} {{'field_is_required' | translate}}"-->
                                       <!--sec-compare-to="password"-->
                                       <!--compare-to-name="password"-->
                                       <!--input-type-attr="password"-->
                                       <!--model-attr="model.confirm_password"-->
                                       <!--id-attr="confirm_password">-->
                            <!--</sec-input>-->
                        <!--</div>-->

                        <!--<div>-->
                            <!--<h3 translate="PERSONAL_DETAILS"></h3>-->
                            <!--<sec-input sec-placeholder="{{'First_Name' | translate }}"-->
                                       <!--model-attr="model.firstName"-->
                                       <!--sec-min-length="2"-->
                                       <!--sec-max-length="30"-->
                                       <!--no-red-star="true"-->
                                       <!--id-attr="firstName">-->
                            <!--</sec-input>-->
                            <!--<sec-input sec-placeholder="{{'Last_Name' | translate }}"-->
                                       <!--sec-min-length="2"-->
                                       <!--sec-max-length="30"-->
                                       <!--no-red-star="true"-->
                                       <!--model-attr="model.lastName"-->
                                       <!--id-attr="lastName">-->
                            <!--</sec-input>-->
                            <!--<sec-input sec-placeholder="{{'Phone_Number' | translate }}"-->
                                       <!--model-attr="model.phoneNumber"-->
                                       <!--id-attr="phoneNumber">-->
                            <!--</sec-input>-->
                        <!--</div>-->

                        <!--<div>-->
                            <!--<h3 translate="ADDRESS"></h3>-->
                            <!--<sec-input sec-placeholder="{{'Country' | translate }}"-->
                                       <!--id-attr="Country"-->
                                       <!--input-type-attr="transclude"-->
                                       <!--select-tag="true" >-->
                                <!--<select class="inputtext"-->
                                        <!--ng-model="model.country"-->
                                        <!--ng-options="country.name for country in countries track by country.id" >-->
                                <!--</select>-->
                            <!--</sec-input>-->
                            <!--<sec-input sec-placeholder="{{'City' | translate }}"-->
                                       <!--model-attr="model.city"-->
                                       <!--sec-max-length="25"-->
                                       <!--no-red-star="true"-->
                                       <!--id-attr="city" >-->
                            <!--</sec-input>-->
                            <!--<sec-input sec-placeholder="{{'Address' | translate }}"-->
                                       <!--sec-max-length="50"-->
                                       <!--no-red-star="true"-->
                                       <!--model-attr="model.address"-->
                                       <!--id-attr="address" >-->
                            <!--</sec-input>-->
                            <!--<sec-input sec-placeholder="{{'State__Province__Region' | translate }}"-->
                                       <!--model-attr="model.state"-->
                                       <!--sec-max-length="10"-->
                                       <!--no-red-star="true"-->
                                       <!--id-attr="state" >-->
                            <!--</sec-input>-->
                            <!--<sec-input sec-placeholder="{{'Postal_Code' | translate }}"-->
                                       <!--sec-max-length="10"-->
                                       <!--sec-only-numbers-->
                                       <!--no-red-star="true"-->
                                       <!--model-attr="model.postalCode"-->
                                       <!--id-attr="postalCode" >-->
                            <!--</sec-input>-->
                            <!--<div class="option marginTop" >-->
                                <!--<input ng-model="model.offers_promotion" type="checkbox" autocomplete="off" />-->
                                <!--<span class="roboto-light">{{'offers_promotion' | translate }}</span>-->
                            <!--</div>-->
                            <!--<sec-input-->
                                    <!--sec-required-->
                                    <!--id-attr="agree_Agreement"-->
                                    <!--no-red-star="true"-->
                                    <!--input-type-attr="transclude"-->
                                    <!--select-tag="true"-->
                                    <!--class="removeSpaces" >-->
                                <!--<div class="option" >-->
                                    <!--<input ng-model="agree_Agreement" name="agree_Agreement" type="checkbox"  />-->
                                    <!--<span class="roboto-light">-->
                                        <!--{{'I_agree_to_the_Advantage_com_Agreement' | translate }}-->
                                    <!--</span>-->
                                    <!--<label class="validateInvalid" data-ng-show="agree_Agreement == false" style="top: -9px; font-size: 12px; color: rgb(130, 130, 130);" >-->
                                        <!--{{'Must_agree_to_the_Advantage_com_Agreement' | translate }}-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</sec-input>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<input sec-submit-attr="register()"-->
                           <!--class="roboto-medium sec-validate-invalid"-->
                           <!--a-sec-validate-invalid-->
                           <!--type="button"-->
                           <!--value="{{'REGISTER' | translate}}" />-->

                    <!--<label class="ALREADY_HAVE_AN_ACCOUNT roboto-medium" >-->
                        <!--<a translate="ALREADY_HAVE_AN_ACCOUNT" ng-click="login()" ></a>-->
                    <!--</label>-->
                    <!--<label class="{{registerAnswer.class}} center" >{{registerAnswer.message}}</label>-->

                <!--</sec-validate>-->
            <!--</div>-->
        <!--</div>-->
    <!--</article>-->
<!--</section>-->
