<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="css/images/favicon.ico">

    <title>&nbsp;Advantage Shopping</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <!--<link href="css/main.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<a class="back-to-top">Back to Top</a>
<nav role="navigation" ng-show="welcome" class="navbar navbar-default navbar-static-top" data-ng-controller="mainCtrl" data-ng-init="init()"
     style="     margin-top: 0.5vw;
    margin-bottom: 0.5vw;   border-color: white;background-color: white;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="padding-left: 1vw;">
        <button type="button" data-target="#navbarCollapse" style="float: left;" data-toggle="collapse"
                class="navbar-toggle toggle-menu menu-left push-body">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#/" class="navbar-brand pull-left" style="padding: 0px;"><img src="css/images/logo.png"></a>
        <button ng-show="!showCategoryHeader" type="button" class="navbar-toggle"
                style="display: block;margin-top: 15px;border-color: transparent;    margin-left: 15px;">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a style="background-image: url('css/images/logo.png'); background-repeat: no-repeat;width: 50vw;" class="navbar-brand" href="/"></a>-->
        <!--<a href="#/" class="navbar-brand">-->
            <!--<img src="css/images/logo.png" style="float: left;display: inline-block;">-->
            <!--<label>Online shopping</label>-->
        </a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div class="" style="    float: right;">
        <div id="navbarCollapse" class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left roboto-ligh" style="font-size: 0.8vw;">
            <ul class="nav navbar-nav">
                <li class="hidden_item" ng-show="showCategoryHeader">
                    <a style="cursor: pointer;" ng-click="gotoElement('our_products')" translate="OUR_PRODUCTS"></a>
                </li>
                <li class="hidden_item" >
                    <a style="cursor: pointer;" ng-show="showCategoryHeader" ng-click="gotoElement('special_offer_items')" translate="SPECIAL_OFFER_ITEMS"></a>
                </li>
                <li class="hidden_item" >
                    <a style="cursor: pointer;" ng-show="showCategoryHeader" ng-click="gotoElement('popular_items')" translate="POPULAR_ITEMS"></a>
                </li>
                <li>
                        <a style="display: inline-block;" href="#" ><img src="css/images/Sesrch.jpg" id="search_image"></a>
                    <input id="product_search" auto-complete ui-items="names" ng-model="selected" style="display: inline-block;float: left;margin-top: 6%;">

                </li>
                <li style="    cursor: pointer;"><a href="#" ng-click="open()" ng-controller="userController"><img src="css/images/User.jpg"></a></li>
                <li style="    cursor: pointer;"><a href="#"><img src="css/images/Cart.jpg"></a></li>
            </ul>
        </div>
    </div>
</nav>
<div ui-view></div>
<script type="text/javascript" data-main="main"
        src="vendor/requirejs/require.js"></script>
</body>

</html>

