<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="css/images/favicon.ico">

    <title>&nbsp;Advantage Shopping</title>

    <!-- Bootstrap core CSS
        <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    -->


    <!-- SECorrenti styles -->
    <link href="css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>



<img src="css/images/GoUp.png" id="scrollToTop" />


<!-- mobile slider -->
<aside id="mobile-section">
    <ul>
        <li>
            <a class="img"><img src="css/images/Cart.jpg" /></a>
        </li>
        <li>
            <a class="img"><img src="css/images/User.jpg" /></a>
        </li>
        <li>
            <a class="img"><img src="css/images/Sesrch.jpg" /></a>
        </li>
    </ul>
</aside>
<!-- end mobile slider -->




<!-- navegation -->
<header data-ng-controller="mainCtrl" ng-show="welcome">
    <nav>
        <ul class="roboto-light desktop-handler">
            <li>
                <a class="img"><img src="css/images/Cart.jpg" /></a>
            </li>
            <li>
                <a class="img"><img src="css/images/User.jpg" /></a>
            </li>
            <li>
                <a class="img">
                    <img id="product_search_img" src="css/images/Sesrch.jpg" />
                    <input id="product_search" ui-items="names" ng-model="selected"
                           style=" "  auto-complete >
                </a>
            </li>
            <li>
                <a ng-click="gotoElement('our_products')" translate="OUR_PRODUCTS"></a>
            </li>
            <li>
                <a ng-click="gotoElement('special_offer_items')" translate="SPECIAL_OFFER_ITEMS"></a>
            </li>
            <li>
                <a ng-click="gotoElement('popular_items')" translate="POPULAR_ITEMS"></a>
            </li>
        </ul>
        <div class="logo">
            <div id="mobile-btn" class="mobile-btn-handler">
                <span></span><span></span><span></span>
            </div>
            <img src="css/images/logo.png" />
        </div>
    </nav>
</header>
<!-- end navegation -->




<div ui-view></div>



<script type="text/javascript" data-main="main" src="vendor/requirejs/require.js"></script>



</body>
</html>