





/* end five images */
.container{
    display: table;
    position: relative;
    width: 100%;
}

.rowSection{
    display: table-row;
    background: #e8e7e2;
    background: -moz-linear-gradient(top, #e8e7e2 0%, #f2f1ed 100%);
    background: -webkit-linear-gradient(top, #e8e7e2 0%, #f2f1ed 100%);
    background: linear-gradient(to bottom, #e8e7e2 0%, #f2f1ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e2', endColorstr='#f2f1ed',GradientType=0 );
}

.rowSection > div{
    display: table-cell;
    position: relative;
    width: 34%;
    padding-top: 22%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: relative;
    cursor: pointer;
}
.rowSection > div.laptopImg{
    background-repeat: no-repeat;
    background-size: 146%;
    background-position: 19% 100%;
}

.rowSection .SpeaakersImg, .rowSection .micesImg{
    background-size: 50%;
    background-position: 90% 49%;
}

.rowSection > div.emptyCells{
    border: none;
}

.rowSection > div.twoRows{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    padding-top: 0%;
    width: 32%;
    background-position: top center;
}

.rowSection > div.twoRows span{
    color:white;
}


.shop_now{
    color: #2a2a2a;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    font-size: 22px;
    padding: 0 0 46px 28px;
    font-weight: bold;
    cursor: pointer;
}


.shop_nowSub{
    color: #54b3ad;
    position: absolute;
    bottom: 24px;
    left: 26px;
    white-space: nowrap;
    font-size: 17px;
    background-image: url("../../css/images/arrow_right.png");
    background-repeat:no-repeat;
    background-position:96% 50%;
    padding-right: 17px;
    cursor: pointer;
}

label.shop_now{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 35px;
}


label.shop_now:after{
    left: 0;
    background-position:63% 50%;
}
/* end five images */








/* special offer */

#special_offer_items > div{
    width: 100%;
    display: table;
}

#img-special-offer {
    display: table-cell;
    width: 65%;
}

h3.roboto-regular{
    color: #2a2a2a;
    font-size: 30px;
    padding: 30px;
}

#img-special-offer img{
    width: 100%;
}

#div-special-offer {
    display: table-cell;
    position: relative;
    width: 35%;
    color: #2a2a2a;
}

#div-special-offer span{
    display: block;
    font-size: 30px;
}

#div-special-offer > div{
    font-size: 34px ;
    display: block;
    vertical-align: middle;
    position: absolute;
    top:12%;
    margin: 10% 12%;
}

#div-special-offer h1 {
    font-size: 34px;
    color: #2a2a2a;
}

#div-special-offer p {
    font-size: 16px;
    color: #9d9d9d;
    padding: 13px 0;
}

#div-special-offer button {
    font-size: 14px;
    border: 1px solid #54b3ad;
    background-color: transparent;
    padding: 10px;
    margin: 16px 0;
    height: 37px;
    width: 133px;
}



/* end special offer */





/* slider */

.slider {
    margin-top: 44px;
    font-size: 0;
    white-space: nowrap;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider *{
    background-color: transparent;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.slider  div.slider-length  {
    position: relative;
    display: inline;
    right: 0;
}

.slider  div.transition {
    -webkit-transition: right 2s cubic-bezier(.51,.06,.05,.07);
    transition: right 2s cubic-bezier(.51,.06,.05,.07);
    transition-delay:0.5s;
}

.slider  div.slider-length > div.imgSection {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 990;
}

.slider div > div.imgContainer {
    z-index: -999;
}

.slider div > div  img {
    width: 100%;
}

.slider .container{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
    background-color: transparent;
    text-align: center;
}

.slider .container h2{
    font-size: 50px;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 41px;
    color: white;
    position: relative;
    animation-duration: 2s;
}


.slider-length div:nth-child(2) .container h2{
    color: black;
    margin-top: 9%;
}

.slider .container button{
    background-color: transparent;
    border: solid 2px white;
    color:white;
    padding: 16px 40px;
    font-size: 29px;
    position: relative;
    animation-duration: 2.3s;
}

.slider-length div:nth-child(2) .container button{
    border: solid 2px #54b3ad;
    color:#2a2a2a;
}

.slider-length div:nth-child(1) .container button:hover,
.slider-length div:nth-child(3) .container button:hover {
    background-color: #54b3ad !important;
    border: solid 2px black !important;
    color: black !important;
}

.slider-length div:nth-child(2) .container button:hover{
    background-color: #54b3ad !important;
    border: solid 2px white !important;
    color: white;
}
.slider-steps {
    position: absolute !important;
    bottom: 10px;
    width: 100%;
    z-index: 999;
    text-align: center;
}

.slider-steps span {

    display: inline-block;
    margin: 0px 5px;
    border: solid white 1px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    transition: 1s all ease;
    transition-delay:0.5s;
}

.slider-steps span.selected {
    background-color: white;
}

/* end slider */





/* POPULAR ITEMS */


.grid-table > div {
    width: 33.3%;
    display: inline-block;
    position: relative;
}

.grid-table > div figure img{
    width: 75%;
    padding: 18px 0;
}

.grid-table .viewDetail{
    font-size: 15px;
    position: relative;
    left: 0;
    bottom: -8px;
}

/* end POPULAR ITEMS */














/* FOLLOW US ----- footer*/

footer{
    margin-top: 90px;
    background-color: #F4F4F2;
    font-size: 0;
}

footer > div{
    padding: 10px 0;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

footer img{
    margin: 17px 31px;
}


footer label{
    font-size: 14px;
    padding: 34px 0 0 0 ;
    color: #6c6c6c;
    display: block;
}

footer .splitter{
    display: none;
}


/* end FOLLOW US */





/*

  background-color: rgba(210, 0, 0, 0.1);

*/








@media screen and (max-width: 1400px) {

    #div-special-offer > div{
        top:0%;
    }

    .grid-table > div figure img{
        width: 100%;
    }

    .slider .container h2{
        font-size: 44px;
        margin-top: 12%;
    }

    .slider .container button{
        padding: 12px 31px;
        font-size: 18px;
    }

}


@media screen and (max-width: 1300px) {

    .slider .container h2{
        font-size: 40px;
        margin-top: 8%;
    }
}

@media screen and (max-width: 1000px) {

    footer > div {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {

    #div-special-offer > div{
        margin:0% 10%;
    }
    .slider .container h2{
        margin-top: 7%;
        font-size: 37px;
    }
}


@media screen and (max-width: 780px) {

    .container .bigSection{
        width: 100%;
    }

    .container .smollSection{
        width: 100%;
    }
    #div-special-offer h1{
        font-size: 30px;
    }
    #div-special-offer p{
        padding: 9px 0 0px 0;
    }


    .slider-length div:nth-child(2) .container h2{
        margin-top: 2%;
    }

    .slider .container button{
        padding: 10px 20px;
        font-size: 24px;
    }

}


@media screen and (max-width: 768px) {

/*
    .rowSection > div {
        display: block;
        width: 100%;
    }
    .rowSection > div div {
        display: block;
        width: 100%;
    }
    .rowSection > div.emptyCell
    {
        display: none;
    }
*/
}





/*
.container222 {
    border: 1px solid #DDDDDD;
    width: 200px;
    height: 200px;
    background: red;
    z-index: 10;
    position: relative;
}

.tag222 {
    width: 80px;
    height: 80px;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: lime;

    z-index: 2;
}

.container222 .img222{
    position: relative;
    z-index: 1;
}

.container222 img{
    position: relative;
z-index: 1;
}

*/