<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <servlet>
        <servlet-class>com.advantage.online.store.servlet.FetchImageHttpServlet</servlet-class>
        <servlet-name>FetchImageHttpServlet</servlet-name>
        <init-param>
	        <param-name>repository-directory-path</param-name>
	        <param-value>C:/Temp/advantage</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>FetchImageHttpServlet</servlet-name>
        <url-pattern>/fetchImage</url-pattern>
    </servlet-mapping>

</web-app>