

#searchSection {
    direction: ltr;
    position: fixed;
    right: 112px;
    top:1px;
    z-index: 1000;
    text-align: left;
    white-space: nowrap;
}

#searchSection #search > div{
    display: inline-block;
    white-space: nowrap;
}

#searchSection .autoCompleteCover{
    overflow: hidden;
    width: 0px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 13px 0 ;
    opacity: 0.5;
    margin: 0;
}

#searchSection .autoCompleteCover .iconCss{
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    vertical-align: middle;
    margin: 23px 0;
    display: none;
    cursor: pointer;

}

#searchSection .autoCompleteCover input{
    width: 100%;
    font-size: 16px;
    color: #2a2a2a;
    height: 36px;
    padding-left: 11px;
}

#searchSection .autoCompleteCover ::-webkit-input-placeholder{
    font-weight: 300;
}

#searchSection .autoCompleteCover :-ms-input-placeholder{
    font-weight: 300;
}

#searchSection .autoCompleteCover :-moz-placeholder{
    font-weight: 300;
}

#searchSection .iconMagnifyingGlass{
    margin: 19px 0;
    cursor: pointer;
}

#searchSection #output{
    position: absolute;
    background-color: rgba(246, 246, 246, 0.95);
    width: 100%;
    box-sizing: border-box;
    top: 64px;
}

#searchSection .searchPopUp > div.categories{
    /*width: 160px;*/
}


#searchSection #output .top6Products{
    padding: 17px 20px;
    background-color: rgba(255, 255, 255, 1);
    width: calc(100% - 173px);
}

#searchSection #output > div > div{
    white-space: normal;
    display: inline-block;
    vertical-align: top;
}

#searchSection  div .animPlaceholderUp label{
    color: #828282;
    font-size: 16px;
}

#searchSection .searchPopUp {
    position: relative;
}

#searchSection .searchPopUp > div h3{
    font-size: 14px;
    color:#2a2a2a;
    padding: 6px 0;
}

#searchSection .searchPopUp div.categories h3{
    font-size: 14px;
    color:#2a2a2a;
    padding: 22px;
    padding-bottom: 10px;
}

#searchSection div.categories label{
    font-size: 14px;
    color:#2a2a2a;
    padding: 5px 22px;
    display: block;
    cursor: pointer;
}

#searchSection div.categories label:first-letter{
    text-transform: uppercase;
}

#searchSection .searchPopUp > div .product{
    width: 33.333%;
    height: 220px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 24px 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

#searchSection .searchPopUp > div .product img{
    width: calc(100% - 10px);
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

#searchSection .searchPopUp > div .product p {
    font-size: 13px;
    color: #2a2a2a;
    margin: 4px 10px;
    height: 32px;
    overflow: hidden;

}

#searchSection .searchPopUp .viewAll  {
    position: absolute;
    top:23px;
    right:35px;
    font-size: 13px;
    color: #54d3ad;
    cursor: pointer;
}

#searchSection .searchPopUp > div .product span {
    font-size: 14px;
    display: block;
    color: #54d3ad;
}


/*end searchSection */


@media screen and (max-width: 1200px){
    #searchSection .searchPopUp > div .product{
        height: 180px;
    }
}

@media screen and (max-width: 1020px){
    #searchSection .searchPopUp > div .product{
        width: 50%;
        padding: 24px 0;
    }
}
