

.coming-soon{
    background-color: #24273a;
    background-image: url('./shapes.svg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.advantage-header{
    display: flex;
    position: absolute;
    top: 65px;
    left: 65px;
}
.soon-svg{
    position: absolute;
    top: 50%;
    left: 50%;
}
